{{extend 'layout.html'}}
{{block head}}
  <title>{{=T("Upcoming Contests")}}</title>
  <meta name="description" content="List of Current and Upcoming Competitive Programming Contests">
  <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
  <script type="text/javascript">
      // Your Client ID can be retrieved from your project in the Google
      // Developer Console, https://console.developers.google.com
      // Used in contests.js
      var CLIENT_ID = '{{=current.calendar_token}}';
  </script>
  <script type="text/javascript" src="{{=get_static_url('js/appjs/default/contests.js')}}"></script>
{{end}}

<body>
  <h1>{{=T("Upcoming Contests")}}</h1>
  <h6>{{=T("Note: All the time stamps mentioned here are in your localized timezone (Browser Time)")}}</h6>

  <div class="row">
    <div class="col s2">
      {{if utilities.should_show_stopstalk_ads("contests"):}}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Contest page - Left -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:160px;height:600px"
             data-ad-client="ca-pub-5161647280125247"
             data-ad-slot="3679946592"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      {{pass}}
    </div>
    <div class="col s8">
      {{if retrieved:}}
        {{=table}}
      {{else:}}
        <p>Error retrieving contests! If the problem persists please <a href="{{=URL('default', 'contact_us')}}">{{=T("Contact Us")}}</a></p>
      {{pass}}
    </div>
    <div class="col s2">
      {{if utilities.should_show_stopstalk_ads("contests"):}}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Contest page - Right -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:160px;height:600px"
             data-ad-client="ca-pub-5161647280125247"
             data-ad-slot="9718741338"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      {{pass}}
    </div>
  </div>
</body>
