{{extend 'layout.html'}}
{{block head}}
  <title>{{=T("Dashboard")}}</title>
  <meta name="description" content="Various cards to have quick actions around StopStalk features">
  <script type="text/javascript">
    var getCardURL = "{{=URL('default', 'get_card_html')}}";
    var stopstalkReleaseVersion = "{{=get_static_file_version('js/appjs/default/dashboard.js')[2]}}";
  </script>
  <script type="text/javascript" src="{{=get_static_url('js/appjs/default/dashboard.js')}}"></script>
{{end}}

<h1>Dashboard</h1>
<div id="dashboard-cards-container"></div>
