{{extend 'layout.html'}}
{{block head}}
  <title>Donate</title>
  <meta name="description" content="Please contribute some amount to support our generous cause">
{{end}}

<h2>Support us</h2>
<div class="row">
  <div class="col offset-s1 s10" style="text-align: justify;">
    <p>We started as an interesting project and developed StopStalk as a utility tool to support a generous cause of getting you better into Competitive Programming. We have been online since 2 years and received a great response from all the learners across the globe. To support the Hosting, SSL and Domain costs we are not inclined towards charging the users of the website for any of the service right now or putting Ads. As we scale with tremendous amount of submissions we cannot rely on free services and we have already migrated to standard services. Any amount would be highly appreciated :)</p>
    <b>Please <a href="{{=URL('default', 'contact_us')}}">write to us</a> once your transaction is complete for confirmation.</b>
  </div>
</div>
<div class="row">
  <div class="col offset-s1 s4">
    <img src="{{=get_static_url('images/paytm-accepted-here.png')}}" style="height: 50px;"/><br/>
    <img src="{{=get_static_url('images/paytm-qrcode.png')}}" style="height: 300px;"/>
  </div>
  <div class="col s2">
    <hr width="1" style="height: 320px; margin-top: 35px; color: grey; border: solid 0.1px;">
  </div>
  <div class="col s4">
    <img src="{{=get_static_url('images/bitcoin-accepted-here.png')}}" style="height: 40px;"/><br/>
    <img src="{{=get_static_url('images/bitcoin-qrcode.png')}}" style="height: 280px;"/>
    <p style="user-select: text; -moz-user-select: text;">1HgtWfopZM7vvWjHNFHkdSW5GQdvLgbiva</p>
    <p>For any other crypto currencies - <a href="{{=URL('default', 'contact_us')}}">Contact Us</a>
  </div>
</div>
