{{extend 'layout.html'}}
<title>{{=T("Error Page")}}</title>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
{{if error_message == "Not found":}}
    <h4> {{=T("Yes you, you are lost ;)")}} </h4>
    <p> {{=T("We have been notified and will be fixing if there is any problem from our side")}} </p>
    {{if similar_handles != []:}}
        <p> {{=T("You might be looking for")}}: |
        {{for i in similar_handles:}}
            <a href="{{=URL('user', 'profile', args=i)}}"> {{=i}} </a> |
        {{pass}}
        </p>
    {{pass}}
    <p> If you are trying to find a user and getting this, then try adding a <a href="{{=URL('user', 'custom_friend')}}">{{=T("Custom Friend")}}</a> and track his/her progress. :D </p>
{{else:}}
    <h4> {{=T("Oops! There is indeed some problem here")}} </h4>
    <p> {{=T("We have been notified and will be fixing it as soon as possible. You might some goodies if you have found a bug in our code!")}} </p>
{{pass}}
