{{extend 'layout.html'}}
<head><title>StopStalk</title></head>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center">StopStalk</h1>
      <div class="row center">
        <h5 class="header col s12 light">Stop stalking and start StopStalking</h5>
      </div>
      <div class="row center">
        <a href="{{=URL('default', 'user', args=['register'])}}" id="download-button" class="btn-large waves-effect waves-light deep-orange">Get Started</a>
      </div>

    </div>
  </div>

  <div class="container" style="overflow: hidden;">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="fa fa-users"></i></h2>
            <h5 class="center">Find friends</h5>

            <p class="light">StopStalk becomes the best place when you add a lot of friends. We bring you all the submissions at one place</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="fa fa-flash"></i></h2>
            <h5 class="center">Maintain streak</h5>

            <p class="light">StopStalk will motivate you to keep your competitive programming streak last longer</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="fa fa-bar-chart"></i></h2>
            <h5 class="center">Global Leaderboard</h5>

            <p class="light">Ever thought just one rating for all your competitive progress, here we give you one - StopStalk rating</p>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="fa fa-filter"></i></h2>
            <h5 class="center">Awesome filters</h5>

            <p class="light">Find exact submissions or problem or user or code in seconds.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

  </div>
