{{extend 'layout.html'}}
{{block head}}
  <title>{{=heading}}</title>
  <link rel="stylesheet" href="{{=URL('static', 'flag-icon/css/flag-icon.min.css')}}">
  <script type="text/javascript">
    var getCustomUserURL = "{{=URL('default', 'get_custom_users', extension='json')}}";
    var headerPlaceHolder = "{{=T('List of custom users created by ')}}";
    var globalLeaderboard = "{{=global_leaderboard}}";
    var leaderboardURL = "{{=URL('default', 'leaderboard')}}";
    var leaderboardJSONURL = "{{=URL('default', 'leaderboard', extension='json')}}";
    var userProfileURL = "{{=URL('user', 'profile')}}";
  </script>
  <script src="{{=get_static_url('js/appjs/default/leaderboard.js')}}" type="text/javascript"></script>
  <meta name="description" content="Leaderboard page with various filters sorted by StopStalk rating">
{{end}}

<h2>{{=heading}}</h2>
<div id="custom-users-modal" class="modal center">
  <div class="modal-content">
    <h5 id="custom-users-modal-header">{{=T("List of custom users created by ")}}</h5>
    <div id="custom-users-list"></div>
  </div>
</div>

<div class="switch">
    <label>
        <h6>
            {{=T("Friends")}}
            <input type="checkbox" id="leaderboard-switch"/>
            <span class="lever pink accent-3"></span>
            {{=T("Global")}}
        </h6>
    </label>
</div>

{{if utilities.should_show_stopstalk_ads("leaderboard"):}}
  <div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Leaderboard - before the table -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-5161647280125247"
         data-ad-slot="1273275102"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
{{pass}}


<table class="bordered" id="leaderboard-table">
    <thead>
        <tr>
            <th class="center-align">{{=T("Rank")}}</th>
            <th class="center-align">{{=T("Country")}}</th>
            <th>{{=T("Name")}}</th>
            <th>{{=T("StopStalk handle")}}</th>
            <th>{{=T("Institute")}}</th>
            <th class="center-align">{{=T("StopStalk Rating")}}</th>
            <!-- <th class="center-align">{{=T("Rating Changes")}}</th> -->
            <th class="center-align">{{=T("Per Day Changes")}}</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div id="leaderboard-preloader">
    <br/><br/><br/><br/>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
</div>