{{extend 'layout.html'}}
<title>My friends</title>
<h1>My Friends</h1>
{{=table}}
<form action="{{=URL('default', 'contact_us')}}" method="POST">
    <input type="hidden" name="stickers" value="{{=stickers}}"/>
    <input type="submit" value="Claim stickers" class="btn btn-default"/>
</form>
<br/><br/>
<div class="row">
        <div class="col offset-s3 s2">
          <div class="card">
            <div class="card-image">
              <img src="{{=URL('static', 'images/sticker1.png')}}">
            </div>
            <div class="card-content">
              <p>You get {{=stickers[0]}} of these</p>
            </div>
          </div>
        </div>
        <div class="col s2">
          <div class="card">
            <div class="card-image">
              <img src="{{=URL('static', 'images/sticker2.png')}}" class="materializeboxed">
            </div>
            <div class="card-content">
              <p>You get {{=stickers[1]}} of these</p>
            </div>
          </div>
        </div>
        <div class="col s2">
          <div class="card">
            <div class="card-image center">
              <img src="{{=URL('static', 'images/sticker3.png')}}" style="width: 35%; height: 35%; left: 30%;">
            </div>
            <div class="card-content">
              <p>You get {{=stickers[2]}} of these</p>
            </div>
          </div>
        </div>
</div>
<div class="row">
    <div class="col offset-s3 s6">
        <img class="materialboxed" data-caption="Coming to you soon ;)" width="650" src="{{=URL('static', 'images/stickers.jpg')}}">
    </div>
</div>
<h5>How many stickers do I get?</h5>
<ul>
    <li>Lets say you have 3 friends X, Y and Z</li>
    <li>If X has atleast 2 other friends except you, say P and Q</li>
    <li>P must be from the same institute as X's and Q may be any other(can be from the institute also)</li>
    <li>This must be followed for Y and Z similarly</li>
    <li>For every such triplet of friends X, Y and Z you get 1 sticker</li>
    <li>We have 3 different kinds of stickers ;)</li>
</ul>

