{{extend 'layout.html'}}
<head>
    <title>
        {{=T("Notifications")}}
    </title>
</head>
<h1>
    {{=T("Notifications")}}
</h1>
<h6 class="red-text">All the pending requests are now converted to follower-followed relationship! - {{=A("Know more", _href=URL("default", "updates"), _target="_blank")}}</h6>
<p>Note: This list will be updated every morning when all the submissions of your friends are retrieved</p>
<div class="row">
    <div class="col offset-s2 s8">
        <h4>
            {{=T("Day streak")}}
        </h4>
        {{=streak_table}}
    </div>
</div>
