{{extend 'layout.html'}}
{{block head}}
  <title>Raj Patel | raj454raj</title>
  <meta name="description" content="A little about Raj Patel (raj454raj) - Founder of StopStalk">
{{end}}

<h2 class="center">Raj Patel (raj454raj)</h2>
<br/>
<br/>
<div class="row">
  <div class="col offset-s1 s3">
    <img src="{{=get_static_url('images/me.jpg')}}" style="width: 80%;">
  </div>
  <div class="col s7" style="padding-top: 10px; font-size: 108%;">
    <p style="text-align: justify;">
      <b>Raj Patel</b> is the Founder of StopStalk and has been working on it for more than 4 years now to
      provide as many features as possible for the Competitive Programmers out there.</p>
    <p style="text-align: justify;">
      He also works at <a href="https://www.browserstack.com/" target="_blank">Browserstack</a> as a
      Team Lead of BrowserStack Live product. The alumni of
       <a title="International Institute Of Information Technology, Hyderabad" href="https://www.iiit.ac.in" target="_blank">IIIT-Hyderabad</a>, is keen
       on providing a platform for the users which would enhance their Competitive Programming by giving
       interesting insights on their progress along with learning collectively with friends.
      <br>
    </p>
    <p style="text-align: justify;">
      Also, he is the only one handling all the aspects of StopStalk as of now - Development, Support, Promotions, Infra, etc.,
      apart from some generous contributions on Github. Feel free to reach out on <a href="mailto:raj454raj@gmail.com">raj454raj@gmail.com</a>
      for anything you want to discuss about StopStalk or anything else for that matter.
    </p>
  </div>
</div>
