{{extend 'layout.html'}}
<head>
    <title>
        {{=T("Find")}}
        {{if auth.is_logged_in():}}
            {{=T("Friends")}}
        {{else:}}
            {{=T("Users")}}
        {{pass}}
    </title>
</head>
<h1>{{=T("Search for")}} {{if auth.is_logged_in():}} {{=T("Friends")}} {{else:}} {{=T("Users")}} {{pass}} {{=T("on StopStalk")}}</h1>
<script src="{{=get_static_url('js/appjs/default/search.js')}}"></script>
<form class="col s12" action="" method="GET">
    <div class="row center">
        <div class="input-field col offset-s1 s3">
            <input id="searchInput" name="q" type="text" class="center">
            <label for="searchInput">{{=T("Search")}}</label>
        </div>
        <div class="col s4">
            <select id="institute" name="institute" class="center browser-default" style="margin-top: 4%;">
                <option value="" disabled selected>{{=T("Institute")}}</option>
                {{for institute in all_institutes:}}
                    <option value="{{=institute}}">{{=institute}}</option>
                {{pass}}
            </select>
        </div>
        <div class="col s3">
            <select id="country" name="country" class="center browser-default" style="margin-top: 5%;">
                <option value="" disabled selected>{{=T("Country")}}</option>
                {{for country in country_name_list:}}
                    <option value="{{=country}}">{{=country}}</option>
                {{pass}}
            </select>
        </div>
    </div>
    <div class="row center">
        <input type='submit' value='{{=T("Search")}}'/>
    </div>
</form>
{{=table}}
