{{extend 'layout.html'}}
<head><title>Recent submissions</title></head>
{{if total_rows:}}
<script src="{{=URL('static', 'js/jquery.bootpag.min.js')}}"></script>
<h1>Recent submissions</h1>
<h6>You can now suggest tags for a problem :) Try adding now by going to any problem page!</h6>
<div id="page-selection" class="center"></div>
<div id="content"></div>
    <script>
        $(function() {
            var check = function(user_count, flen, clen) {
                if (user_count == flen + clen) {
                    return true;
                }
                return false;
            }

            $.ajax({
                method: 'GET',
                url: '{{=URL("default", "submissions", extension="json")}}'
            }).done(function(page) {
                var pageCount = page['count'];

                var currentUrl = window.location.href;
                currentUrl = currentUrl.split("/").slice(-1);
                var currPage;
                if (currentUrl != "submissions") {
                    currPage = currentUrl;
                } else {
                    currPage = "1";
                }
                $('#page-selection').bootpag({
                    total: pageCount,
                    page: parseInt(currPage),
                    maxVisible: 10
                }).on("page", function(event, num) {
                    window.location.href = '{{=URL("default", "submissions")}}' + "/" + num.toString();
                });
            });
        });
    </script>
{{=table}}
{{else:}}
    <br /><br />
    <h4>Welcome to StopStalk!</h4><br />
    <h6>You can now suggest tags for a problem :) Try adding now by going to any problem page!</h6>
    <h5>You do not have any friends yet!</h5>
    <h5>
        Try adding friends on StopStalk &nbsp;
        <a href="{{=URL('default', 'search')}}" target="_blank">
            <i class="fa fa-long-arrow-right"></i>
        </a>
    </h5>
    <h5>
        You can also add Custom Users if your friend is not on StopStalk &nbsp;
        <a href="{{=URL('user', 'custom_friend')}}" target="_blank">
            <i class="fa fa-long-arrow-right"></i>
        </a>
    </h5>
{{pass}}
