{{extend 'layout.html'}}
{{block head}}
  <title>{{=T("Support StopStalk!")}}</title>
  <meta name="description" content="Add problems to a unified ToDo list across various Competitive Programming Websites">
{{end}}

<h1>Support us 🥰</h1>

<div class="row">
  <div class="col offset-s1 s10">
    <p>
      We don't charge any money to use the StopStalk platform and are committed to support any feature requests/bug fixes on the existing platform.<br/>
      <b>If you are shopping from Amazon, please go to Amazon via StopStalk - you still pay the usual amount :)</b>
    </p>
  </div>
</div>
<div class="row">
  <div class="col s3">
    <div class="card">
      <div class="card-image" style="padding: 2px; margin: auto; width: 150px; height: 180px">
        <a target="_blank" href="https://amzn.to/3zpr2FA"><img width="150" height="180" src="https://images-na.ssl-images-amazon.com/images/I/41oYsXjLvZL._SX348_BO1,204,203,200_.jpg" alt="Cracking the Coding Interview book"></a>
      </div>
      <div class="card-content">
        <p>This book is a standard purchase for any aspiring Software Engineer and provides great breadth in various concepts for interviewing.</p>
      </div>
      <div class="card-action">
        <a target="_blank" href="https://amzn.to/3zpr2FA">View on Amazon</a>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="card">
      <div class="card-image" style="padding: 2px; margin: auto; width: 200px; height: 180px">
        <a target="_blank" href="https://amzn.to/3nLhG4S" alt="Dell Monitor">
          <img width="200" height="180" src="https://m.media-amazon.com/images/I/91ddm+P-VCL._SL1500_.jpg" alt="Cracking the Coding Interview book">
        </a>
      </div>
      <div class="card-content">
        <p>A real great 24 inch Desktop monitor to connect with your laptop for multitasking. It has all kinds of adjustments - up/down/left/right/tilt!</p>
      </div>
      <div class="card-action">
        <a target="_blank" href="https://amzn.to/3nLhG4S">View on Amazon</a>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="card">
      <div class="card-image" style="padding: 2px; margin: auto; width: 150px; height: 180px">
        <a target="_blank" href="https://amzn.to/3CqoOYv"><img width="150" height="180" src="https://m.media-amazon.com/images/I/91jLVE3OvfL._SL1500_.jpg" alt="Green Soul Jupiter chair"></a>
      </div>
      <div class="card-content">
        <p>Comfortable chair by Green Soul with multiple adjustments and lumbar support to make sure you don't get back pain and posture problems.</p>
      </div>
      <div class="card-action">
        <a target="_blank" href="https://amzn.to/3CqoOYv">View on Amazon</a>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="card">
      <div class="card-image" style="padding: 2px; margin: auto; width: 180px; height: 180px">
        <a target="_blank" href="https://amzn.to/3vl4OV6"><img width="180" height="180" src="https://m.media-amazon.com/images/I/511scfBr8-L._SL1500_.jpg" alt="boAt Airdopes 441"></a>
      </div>
      <div class="card-content">
        <p>boAt Airdopes 441 with super touch controls for your video meetings to provide great learning as well as music listening experience - complete value for money.</p>
      </div>
      <div class="card-action">
        <a target="_blank" href="https://amzn.to/39jTwpQ">View on Amazon</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s3">
    <div class="card">
      <div class="card-image" style="padding: 2px; margin: auto; width: 180px; height: 180px">
        <a target="_blank" href="https://amzn.to/30ivKZY"><img width="180" height="180" src="https://m.media-amazon.com/images/I/81tioCUVf4L._SL1500_.jpg" alt="Gaming mouse"></a>
      </div>
      <div class="card-content">
        <p>An Optical USB gaming mouse with ergonomic design and multi color LED effect for a great gaming experience at an unbelievable price</p>
      </div>
      <div class="card-action">
        <a target="_blank" href="https://amzn.to/3Aq5071">View on Amazon</a>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="card">
      <div class="card-image" style="padding: 2px; margin: auto; width: 150px; height: 180px">
        <a target="_blank" href="https://amzn.to/3znndAQ"><img width="150" height="180" src="https://m.media-amazon.com/images/I/719ZywAmvOL._SL1500_.jpg" alt="FIFA21 PS4 game"></a>
      </div>
      <div class="card-content">
        <p>Keep a tap on your health with Mi band which in addition to health metrics can control music, manage your calls, check Weather, alarm, locate your phone, etc.</p>
      </div>
      <div class="card-action">
        <a target="_blank" href="https://amzn.to/3znndAQ">View on Amazon</a>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="card">
      <div class="card-image" style="padding: 2px; margin: auto; width: 150px; height: 180px">
        <a target="_blank" href="https://amzn.to/3Eps2gK"><img width="150" height="180" src="https://images-na.ssl-images-amazon.com/images/I/513P8XoCAEL._SX376_BO1,204,203,200_.jpg" alt="Cormen algorithms book"></a>
      </div>
      <div class="card-content">
        <p>Very popular book to learn Computer Algorithms from scratch and provide in-depth understanding of all the different algorithms.</p>
      </div>
      <div class="card-action">
        <a target="_blank" href="https://amzn.to/3Eps2gK">View on Amazon</a>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="card">
      <div class="card-image" style="padding: 2px; margin: auto; width: 150px; height: 180px">
        <a target="_blank" href="https://amzn.to/3AqjGmC"><img width="150" height="180" src="https://m.media-amazon.com/images/I/71LIfhSpAYS._SL1500_.jpg" alt="Wipro smart bulb"></a>
      </div>
      <div class="card-content">
        <p>Wipro smart bulb which connects with your smart phone - ideal for handpicking the right light for your mood or change with music</p>
      </div>
      <div class="card-action">
        <a target="_blank" href="https://amzn.to/3AqjGmC">View on Amazon</a>
      </div>
    </div>
  </div>
</div>

<a target="_blank" href="https://www.amazon.in/tryprime?tag=mustbuyitems-21">
  <img style="width: 74%; height: 153px" src="{{=get_static_url('images/amazon_prime.jpg')}}"/>
</a>
<a target="_blank" href="https://www.amazon.in/dp/B077S5CVBQ/?ref=assoc_tag_sept19?actioncode=AINOTH066082819002X&tag=mustbuyitems-21">
  <img style="width: 74%" src="{{=get_static_url('images/amazon_audible.jpg')}}"/>
</a>
