{{extend 'layout.html'}}
{{block head}}
  <title>User Editorials</title>
  <script src="{{=get_static_url('js/appjs/default/user_editorials.js')}}" type="text/javascript"></script>
{{end}}

<h1>User Editorials</h1>
<div class="row">
  <div class="col offset-s1 s10">
    <div class="card darken-1">
      <div class="card-content">
        <span class="card-title">Contributions Leaderboard <i class="fa fa-info-circle modal-trigger" data-target="modal1" id="show-info-contributions-leaderboard"></i></span>
        <table class="centered">
          <thead>
            <tr>
              <th>Position</th>
              <th>Name</th>
              <th>Number of Editorials</th>
              <th>Total Votes</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            {{for row_it in xrange(len(table_rows)):}}
              <tr>
                <td>{{=row_it + 1}}.</td>
                <td><a href="{{=URL('user', 'profile', args=table_rows[row_it][2])}}">{{=table_rows[row_it][3]}}</a></td>
                <td>{{=table_rows[row_it][0]}}</td>
                <td>{{=table_rows[row_it][1]}}</td>
                <td><a href="{{=URL('default', 'user_wise_editorials', args=table_rows[row_it][2])}}" class="btn btn-default">View</a></td>
              </tr>
            {{pass}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col offset-s1 s10">
    <div class="card darken-1">
      <div class="card-content">
        <span class="card-title">All Editorials</span>
        {{=all_editorials_table}}
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal left-text">
  <div class="modal-content">
    <h4>How are contributions counted?</h4>
    <p><b>Following is the criteria for any user editorial to be considered -</b></p>
    <ol>
      <li>Editorial must be accepted by admin, reasons of rejection will be communicated to you.</li>
      <li>It must be submitted after 01st Jan, 2019.</li>
      <li>The problem must not have an Official editorial on the parent site.</li>
    </ol>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat">Close</a>
  </div>
</div>