{{extend 'layout.html'}}
<head><title>StopStalk</title></head>
<h2>
{{=T('Sign Up') if request.args(0) == 'register' else T('Login') if request.args(0) == 'login' else T(request.args(0).replace('_',' ').title())}}
</h2>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<div id="g_id_onload"
     data-client_id="{{=current.CLIENT_ID}}"
     data-auto_select="false"
     data-login_uri="{{=current.REDIRECT_URI}}">
</div>
<div class="row">
    <div id="web2py_user_form" class="col offset-s1 s10">
    <a href="/default/googleauth">
        {{if request.args(0)=='login':}}
            <img src="{{=URL('static','images/btn_google_signin.png')}}" height="50px">
        {{pass}}
        {{if request.args(0)=='register':}}
            <img src="{{=URL('static','images/btn_google_signup.png')}}" height="50px">
        {{pass}}
    </a>
    <hr id="gauth-login-divider">
    {{
    if request.args(0)=='login':
        if not 'register' in auth.settings.actions_disabled:
            form.add_button(T('Sign Up'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn btn-default')
        pass
        if not 'request_reset_password' in auth.settings.actions_disabled:
            form.add_button(T('Forgot Password'),URL(args='request_reset_password'),_class='btn btn-default')
        pass
    pass
    =form
    }}
    </div>
</div>


{{block page_js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
</script>
{{end page_js}}
