{{extend 'layout.html'}}
<head><title>StopStalk</title></head>
<h2>
{{=T('Sign Up') if request.args(0) == 'register' else T('Login') if request.args(0) == 'login' else T(request.args(0).replace('_',' ').title())}}
</h2>
<!-- <script src="https://accounts.google.com/gsi/client" async defer></script> -->
<!-- <div id="g_id_onload"
     data-client_id="{{=current.CLIENT_ID}}"
     data-auto_select="false"
     data-login_uri="{{=current.REDIRECT_URI}}">
</div> -->
<div class="row">
    <b style="color: #c52727">[Important update]: StopStalk has officially sunset as of 1st August, 2025. Thank you for being part of our journey. - {{=A("Read more", _href="https://www.stopstalk.com/final_sunset_update", _target="_blank")}}</b>
</div>


{{block page_js}}
<script>
    jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
</script>
{{end page_js}}
