/cache/*
/errors/*
/models/0firstrun.py
/sessions/*
/uploads/*
/user_editorials/editorials/*.txt
/databases/*
/graph_data/*.pickle
/rating_history/users/*.txt
/rating_history/custom_users/*.txt
.~lock.*.csv#
*.log
*.pyc
*.swp
*.~*~
.directory
.pythonhistory
.idea
.sass-cache
dump.rdb
