{{extend 'layout.html'}}
{{block head}}
  <title>{{=T("Testimonials")}}</title>
  <meta name="description" content="What people say about StopStalk :)">
  <style>
    .content:after {
      content: none;
    }

    .love-testimonial {
      cursor: pointer;
    }

    blockquote a {
      color: darkslateblue;
    }
  </style>
  <script src="{{=get_static_url('js/appjs/testimonials/index.js')}}" type="text/javascript"></script>
  <script type="text/javascript">
    var loveTestimonialURL = "{{=URL('testimonials', 'love_testimonial', extension='json')}}";
    var loggedIn = "{{=auth.is_logged_in()}}";
  </script>
{{end}}
<h1>{{=T("Testimonials")}}</h1>

<body>
  {{if auth.is_logged_in():}}
    <div class="row">
      <form class="col offset-s2 s8" id="testimonial-form" action="" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="testimonial-content" placeholder="What you can fill in here is how you have benefited from StopStalk or some online piece where you have shared the words of love about us like - Blogposts, Quora answers, Facebook or just anything. It does not have to be yours - We want to help connect like-minded people :)" name="testimonial_content" class="materialize-textarea" data-length="400" required></textarea>
            <label for="testinmonial-content">Write your own !</label>
          </div>
          <input id="submit-testimonial" type="submit" value="Submit"/>
        </div>
      </form>
    </div>
  {{pass}}

  {{for testimonial in testimonials:}}
    {{time_stamp, stopstalk_handle = testimonial_details[testimonial.id]}}
    {{starred_users = set(testimonial.stars.split(","))}}
    {{starred_users.remove("") if "" in starred_users else ""}}
    <div class="row">
      <div class="col offset-s3 s6">
        <div class="left-align card white-text" style="background-color: #00bcd4;">
          <div class="card-content">
            <div class="row content">
              <div>
                <blockquote style="font-size: 1.2em;">
                  {{=MARKMIN(testimonial.content + " - [[%s %s]]" % (stopstalk_handle, URL('user', 'profile', args=stopstalk_handle)))}}
                </blockquote>
              </div>
            </div>
            <div id="votes" class="left" style="font-size: 1.2em;">
              {{if auth.is_logged_in():}}
                {{if str(session.user_id) in starred_users:}}
                  <span class="love-testimonial" data-id="{{=testimonial.id}}"><i class="fa fa-heart red-text"></i></span>
                {{else:}}
                  <span class="love-testimonial" data-id="{{=testimonial.id}}"><i class="fa fa-heart"></i></span>
                {{pass}}
              {{else:}}
                <span class="love-testimonial" data-id="{{=testimonial.id}}"><i class="fa fa-heart"></i></span>
              {{pass}}
              &nbsp;<span class="love-count">{{=len(starred_users)}}</span>
            </div>
            <p class="right-align black-text" style="font-size: smaller;">
              <i>{{=time_stamp}}</i>
            </p>
          </div>
        </div>
      </div>
    </div>
  {{pass}}
</body>