<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','materialize/css/materialize.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','fa/css/font-awesome.min.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    {{
    # using sidebars need to know what sidebar you want to use
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
    <style>
        input.form-control {
            width: 50%;
            text-align:  center;
        }
        .pagination li.active{
            background-color: #259b24;
        }
        #welcome {
            min-width: 180px;
        }
        #welcome > li > a {
            color: #536dfe;
        }
        body {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: default;
        }

    </style>
  </head>
  <body class="center">
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <!-- Navbar ======================================= -->
    <div class="flash alert alert-dismissable" style="display: none;">{{=response.flash or ''}}</div>
    <header>
    <ul id="welcome" class="dropdown-content" style="min-width: 180px; color: #536dfe;">
        {{if session["user_id"]:}}
            <li><a href="{{=URL('user', 'profile')}}">Profile</a></li>
            <li><a href="{{=URL('user', 'submissions')}}">My Submissions</a></li>
            <li><a href="{{=URL('user', 'update_details')}}">Update Details</a></li>
            <li><a href="{{=URL('default', 'user', args=['change_password'])}}">Change Password</a></li>
            <li class="divider"></li>
            <li><a href="{{=URL('default', 'user', args=['logout'])}}">Logout</a></li>
        {{else:}}
            <li><a href="{{=URL('default', 'user', args=['login'])}}">Login</a></li>
            <li><a href="{{=URL('default', 'user', args=['register'])}}">Register</a></li>
        {{pass}}
    </ul>
    <nav style="background-color: #536dfe">
    <div class="nav-wrapper">
        <a href="{{=URL('default', 'index')}}">
            <img src="{{=URL('static', 'images/StopStalk.png')}}" style="position: absolute; left: 0px; height: 60px; width: 60px; padding: 5px;"/>
        </a>
        <div class="right">
            <span class="left">
                {{if response.menu:}}
                    {{=MENU(response.menu, _class='nav navbar-nav',li_class='dropdown',ul_class='dropdown-menu')}}
                {{pass}}
            </span>
            <ul class="right hide-on-med-and-down" style="float: left;">
                <li><a class="dropdown-button left" href="" data-activates="welcome"><i class="fa fa-sort-down"></i></a></li>
            <!-- Dropdown Trigger -->
            </ul>
        </div>
    </div>
    </nav>
    </header>
    <!-- Masthead ===================================== -->
    {{block header}}
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <main>
    <div class="container-fluid">
      {{if left_sidebar_enabled:}}
        <div class="col-md-3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}

      <div class="{{=middle_column}}">
        {{block center}}
        {{include}}
        {{end}}
      </div>

      {{if right_sidebar_enabled:}}
        <div class="col-md-3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}

    </div>
    </main>

    <!-- The javascript =============================== -->
    <script src="{{=URL('static','materialize/js/materialize.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    {{block page_js}}{{end page_js}}
    <!-- Analytics ==================================== -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
           m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71263752-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
        // Remove focus from any focused element
        if (document.activeElement) {
            document.activeElement.blur();
        }
    });
    </script>
    <!-- Share ============================y============ -->
  </body>
</html>
