<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static', 'materialize/css/materialize.min.css')}}"/>
    <link rel="stylesheet" href="{{=get_static_url('css/stopstalk.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static', 'fa/css/font-awesome.min.css')}}" async/>

    <link rel="apple-touch-icon" sizes="57x57" href="{{=get_static_url('images/fav_assets/apple-icon-57x57.png')}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{=get_static_url('images/fav_assets/apple-icon-60x60.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{=get_static_url('images/fav_assets/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{=get_static_url('images/fav_assets/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{=get_static_url('images/fav_assets/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{=get_static_url('images/fav_assets/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{=get_static_url('images/fav_assets/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{=get_static_url('images/fav_assets/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{=get_static_url('images/fav_assets/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{=get_static_url('images/fav_assets/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{=get_static_url('images/fav_assets/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{=get_static_url('images/fav_assets/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{=get_static_url('images/fav_assets/favicon-16x16.png')}}">
    <link rel="manifest" href="{{=get_static_url('images/fav_assets/manifest.json')}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{=get_static_url('images/fav_assets/ms-icon-144x144.png')}}">
    <meta name="theme-color" content="#ffffff">

    <link rel="search" type="application/opensearchdescription+xml" title="StopStalk User Search" href="/static/opensearch.xml" />
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static', 'js/modernizr-2.8.3.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static', 'js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    <script type="text/javascript">
        {{last_record = db(db.auth_user).select(db.auth_user.id, orderby=~db.auth_user.id, limitby=(0, 1)).first()}}
        var clickedButton = {"heart_button": false, "onboarding_button": false};
        var isLoggedIn = ("{{=auth.is_logged_in()}}" === "True");
        var problemDifficultySubmitURL = '{{=URL("problems", "problem_difficulty")}}';
        var markReadURL = "{{=URL('user', 'mark_read', extension='json')}}";
        var loveEditorialURL = "{{=URL('problems', 'love_editorial', extension='json')}}";
        var deleteEditorialURL = "{{=URL('problems', 'delete_editorial')}}";
        var getNextProblemURL = "{{=URL('problems', 'get_next_problem_to_suggest', extension='json')}}";
        var problemDifficultyModalOpen = false;
        var showProblemDifficultyOnboarding = "False";
        var loggedInUserId = parseInt("{{=session.user_id if auth.is_logged_in() else 100000000}}");
        var lastUserId = parseInt("{{=last_record.id if last_record else 0}}");
        var thresholdUserId = lastUserId - 200; // Assuming less than 200 signups per day
    </script>
    {{block head}}{{end}}
    {{
        # using sidebars need to know what sidebar you want to use
        mc0 = 'col-md-12'
        mc1 = 'col-md-9'
        mc2 = 'col-md-6'
        left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
        right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
        middle_column = {0: mc0, 1: mc1, 2: mc2}[
        (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
  </head>
  <body class="center Site">
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <!-- Navbar ======================================= -->
    <div class="flash alert alert-dismissable" style="display: none;">{{=response.flash or ''}}</div>
    <header>
    <ul id="welcome" class="dropdown-content" style="min-width: 190px; color: #536dfe;">
        {{if auth.is_logged_in():}}
            <li><a href="{{=URL('user', 'profile', args=session.handle)}}" data-analytics-label="Nav User Profile" class="nav-dropdown">{{=T("Profile")}}</a></li>
            <li><a href="{{=URL('default', 'job_profile')}}" data-analytics-label="Nav Job Preferences" class="nav-dropdown">{{=T("Job Preferences")}}</a></li>
            <li><a href="{{=URL('user', 'submissions', args=session.handle)}}" data-analytics-label="Nav My Submissions" class="nav-dropdown">{{=T("My Submissions")}}</a></li>
            <li><a href="{{=URL('default', 'user_wise_editorials', args=session.handle)}}" data-analytics-label="Nav My Editorials" class="nav-dropdown">{{=T("My Editorials")}}</a></li>
            <li><a href="{{=URL('user', 'update_details')}}" data-analytics-label="Nav Update Details" class="nav-dropdown">{{=T("Update Details")}}</a></li>
            <li><a href="{{=URL('default', 'unsubscribe')}}" data-analytics-label="Nav Unsubscribe" class="nav-dropdown">{{=T("Unsubscribe")}}</a></li>
            <li class="divider"></li>
            <li><a href="{{=URL('default', 'user', args=['logout'])}}" data-analytics-label="Nav Logout" class="nav-dropdown">{{=T("Logout")}}</a></li>
        {{else:}}
            <li><a href="{{=URL('default', 'user', args=['login'])}}" data-analytics-label="Nav Login" class="nav-dropdown">{{=T("Login")}}</a></li>
            <li><a href="{{=URL('default', 'user', args=['register'])}}" data-analytics-label="Nav Register" class="nav-dropdown">{{=T("Register")}}</a></li>
        {{pass}}
    </ul>
    <ul id="slide-out" class="side-nav">
        {{if response.menu:}}
            <table id="side-nav-table">
                {{for nav_item in response.menu:}}
                    <tr class="side-nav-item" data-url="{{=nav_item[3]}}" data-analytics-label="{{=nav_item[2]}}">
                        <td><a href="{{=nav_item[3]}}" class="side-nav-links"/></td>
                        <td><a href="{{=nav_item[3]}}" class="side-nav-links">{{=nav_item[0]}}</a></td>
                        <td><a href="{{=nav_item[3]}}" class="side-nav-links">{{=nav_item[1]}}{{=nav_item[4]}}</a></td>
                    </tr>
                {{pass}}
            </table>
        {{pass}}
    </ul>
    <nav style="background-color: #536dfe">
    <div class="nav-wrapper">
        <a id="open-side-nav" data-activates="slide-out" class="left"><i class="fa fa-bars fa-2x"></i></a>
        <a href="{{=URL('default', 'index')}}" class="left" style="height: 100%; margin-left: 5px;">
            <img src="{{=get_static_url('images/StopStalk.png')}}" style="margin-top: 2px; height: 60px; width: 200px; padding: 7px;"/>
        </a>
        <div class="right">
            <span class="left">
            </span>
            <a id="problem-recommendations-cta" class="btn btn-default black-text" style="background-color: #f5f5f5; margin-right: 13px;" href="{{=URL('problems', 'recommendations')}}">Find Me Problems</a>
            <ul class="right" style="float: left;">
                <li><a class="dropdown-button left" href="" data-activates="welcome"><i class="fa fa-sort-down fa-2x"></i></a></li>
            <!-- Dropdown Trigger -->
            </ul>
        </div>
    </div>
    </nav>
    </header>
    <!-- Masthead ===================================== -->
    {{block header}}
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <main class="Site-content">
    <div class="container-fluid">
      {{if left_sidebar_enabled:}}
        <div class="col-md-3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}

      <div class="{{=middle_column}}">
        {{block center}}
        {{include}}
        {{end}}
      </div>

      {{if right_sidebar_enabled:}}
        <div class="col-md-3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
      {{pass}}

    </div>
    <div id="download-submission-modal" class="modal">
        <div class="modal-content">
            <h4>{{=T("Download submission")}}</h4>
            <p>You are just one click away from downloading the solution. Please enter the filename you want the submission to be downloaded as.</p>
            <div class="row">
                <div class="input-field col offset-s3 s6">
                    <input id="file_name" type="text">
                    <label for="file_name">{{=T("File Name")}}</label>
                </div>
            </div>
            <div class="row">
                <a class="btn waves-light waves-effect disabled" id="final-download-button">{{=T("Download")}}</a>
            </div>
        </div>
    </div>

    <div id="problem-difficulty-modal" class="modal" style="max-height: 80%; width: 60%;">
        <div class="modal-content center">
            <div id="problem-difficulty-actual-content">
                <h4 id="problem-difficulty-title"></h4>
                <form id="problem-difficulty-modal-form" data-problem="">
                    <div style="display: inline-flex;">
                        <div class="difficulty-list-item">
                            <input name="problem_difficulty_value" type="radio" id="difficulty-very-easy" value="1" required/>
                            <label for="difficulty-very-easy">Very Easy</label>
                        </div>
                        <div class="difficulty-list-item">
                            <input name="problem_difficulty_value" type="radio" id="difficulty-easy" value="2"/>
                            <label for="difficulty-easy">Easy</label>
                        </div>
                        <div class="difficulty-list-item">
                            <input name="problem_difficulty_value" type="radio" id="difficulty-medium" value="3"/>
                            <label for="difficulty-medium">Medium</label>
                        </div>
                        <div class="difficulty-list-item">
                            <input name="problem_difficulty_value" type="radio" id="difficulty-hard" value="4"/>
                            <label for="difficulty-hard">Hard</label>
                        </div>
                        <div class="difficulty-list-item">
                            <input name="problem_difficulty_value" type="radio" id="difficulty-very-hard" value="5"/>
                            <label for="difficulty-very-hard">Very Hard</label>
                        </div>
                    </div>
                </form>
            </div>
            <div id="problem-difficulty-all-caught-up" class="hide">
                <h4>All caught up!</h4>
                <p>Solve more problems and we will show you more here!</p>
            </div>
            <div class="modal-footer">
                <button id="skip-this-problem" class="waves-effect orange lighten-5 waves-blue btn-flat">Skip this</button>
                <button id="problem-difficulty-later" class="modal-action modal-close waves-effect blue lighten-5 waves-blue btn-flat">Later</button>
            </div>
        </div>
    </div>

    <div id="view-submission-modal" class="modal">
        <div class="modal-content">
            <h4>{{=T("View submission")}}</h4>

                <button id="copy-to-clipboard" class="btn btn-default waves-light waves-effect green hide">{{=T("Copy to Clipboard")}}</button>
                <div id="view-submission-preloader" class="preloader-wrapper big active">
                  <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>

                  <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>

                  <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>

                  <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
                </div>

            <br/>
            <pre id="view-submission-pre" class="hide"></pre>
            <a id="link-to-site" class="btn btn-default waves-light waves-effect" href="" target="_blank"></a>

            <p>You are just one click away from downloading the solution. Please enter the filename you want the submission to be downloaded as.</p>
            <div class="row">
                <div class="input-field col offset-s3 s6">
                    <input id="view_download_file_name" type="text">
                    <label for="view_download_file_name">{{=T("File Name")}}</label>
                </div>
            </div>
            <div class="row">
                <a class="btn waves-light waves-effect disabled" id="final-view-download-button">{{=T("Download")}}</a>
            </div>
        </div>
    </div>
    </main>
    <footer class="page-footer" style="background-color: #536dfe;">
        <div class="footer-copyright">
            <div class="container" style="margin: auto; width: 100%;">
                <div class="left"> © 2015-{{=datetime.datetime.today().year}} StopStalk </div>
                <div class="right">
                    <span><a id="footer-media-kit" href="https://github.com/stopstalk/media-resources" style="color: white;" target="_blank">{{=T("Media Kit")}}</a></span>
                    <span> | </span>
                    <span><a id="footer-faqs" href="{{=URL('default', 'faq')}}" style="color: white;" target="_blank">{{=T("FAQs")}}</a></span>
                    <span> | </span>
                    <span><a id="footer-contact-us" href="{{=URL('default', 'contact_us')}}" style="color: white;" target="_blank">{{=T("Contact Us")}}</a></span>
                    <span> | </span>
                    <span><a id="footer-stopstalk-status" href="https://status.stopstalk.com" style="color: white;" target="_blank">Status</a></span>
                    <span> | </span>
                    <span><a id="footer-privacy-policy" href="{{=URL('default', 'privacy_policy')}}" style="color: white;" target="_blank">{{=T("Privacy Policy")}}</a></span>
                    <span> | </span>
                    <span>Carefully crafted by: <a id="footer-raj454raj" href="http://www.raj454raj.com/" style="color: white;" target="_blank">Raj Patel</a></span>
                </div>
            </div>
        </div>
    </footer>

    {{db = current.db; ratable = db.recent_announcements}}
    {{pulse_class = {"heart_button": "", "onboarding_button": "", "problem_difficulty": ""}; clicked_button = {};}}
    {{if auth.is_logged_in():}}
        {{announcement_record = db(ratable.user_id == session.user_id).select().first()}}
    {{else:}}
        {{announcement_record = None}}
    {{pass}}

    {{if announcement_record is None:}}
        {{for key in pulse_class.keys():}}
            {{pulse_class[key] = "pulse"}}
        {{pass}}
    {{else:}}
        {{from gluon import storage}}
        {{record_data = storage.Storage(json_for_views.loads(announcement_record.data))}}
        {{for key in pulse_class.keys():}}
            {{clicked_button[key] = record_data.get(key, None) == True}}
            {{pulse_class[key] = "" if clicked_button[key] else "pulse"}}
        {{pass}}
        <script type="text/javascript">
            {{for key in pulse_class.keys():}}
                clickedButton["{{=key}}"] = "{{=clicked_button[key]}}" === "True";
            {{pass}}

            showProblemDifficultyOnboarding = "{{=(not (record_data.get('problem_difficulty', None) == True))}}";
        </script>
    {{pass}}
    <div class="fixed-action-btn click-to-toggle vertical" style="bottom: 137px; right: 24px;">
        <a class="btn-floating btn-large pink accent-3 {{=pulse_class['heart_button']}}" id="heart-button">
            <i class="fa fa-heart"></i>
        </a>
        <ul style="pointer-events: none;">
            <li>
                <a id="heart-facebook-group" class="btn-floating" style="background-color: #f7bd0e; pointer-events: all; transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;" target="_blank" href="https://www.facebook.com/groups/stopstalk">
                    <i class="fa fa-users"></i>
                </a>
            </li>
            <li>
                <a id="heart-facebook" class="btn-floating indigo darken-4" style="pointer-events: all; transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;" target="_blank" href="https://www.facebook.com/stopstalkcommunity/"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
                <a id="heart-twitter" class="btn-floating blue lighten-1" style="pointer-events: all; transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;" target="_blank" href="https://twitter.com/stop_stalk"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a id="heart-github" class="btn-floating black"  style="pointer-events: all; transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;" target="_blank" href="https://github.com/stopstalk/stopstalk-deployment"><i class="fa fa-github"></i></a>
            </li>
        </ul>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-small green {{=pulse_class['problem_difficulty']}}" id="explain-problem-difficulty" style="bottom: 70px; right: 10px;" target="_blank"><i class="fa fa-edit"></i></a>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-small orange {{=pulse_class['onboarding_button']}}" style="bottom: 26px; right: 10px;" target="_blank" href="{{=URL('default', 'get_started')}}" id="onboarding-button"><i class="fa fa-question-circle"></i></a>
    </div>
    <!-- The javascript =============================== -->
    <script src="{{=URL('static', 'materialize/js/materialize.min.js')}}"></script>
    <script src="{{=URL('static', 'js/run_prettify.min.js')}}" async></script>
    <script src="{{=get_static_url('js/web2py-bootstrap3.js')}}" async></script>
    <script src="{{=get_static_url('js/calendar.js')}}" async></script>

    {{block page_js}}{{end page_js}}
    <!-- Analytics ==================================== -->
    {{if current.analytics_id:}}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
               (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            if("{{=auth.is_logged_in()}}" === "True") {
                ga('create', '{{=current.analytics_id}}', 'auto', {userId: '{{=session.user_id}}'});
            } else {
                ga('create', '{{=current.analytics_id}}', 'auto');
            }
            ga('send', 'pageview');
        </script>
        <script src="{{=get_static_url('js/appjs/google_analytics.js')}}"></script>
    {{pass}}
    <script type="text/javascript">
        var addTodoURL = "{{=URL('problems', 'add_todo_problem')}}";
    </script>
    <script src="{{=get_static_url('js/main.js')}}"></script> <!-- Resource jQuery -->
    <script type="text/javascript" src="{{=get_static_url('js/appjs/layout.js')}}"></script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://www.stopstalk.com",
      "logo": "https://www.stopstalk.com/static/images/stopstalk-logo.png",
      "sameAs" : [
            "https://www.facebook.com/stopstalkcommunity/",
            "https://twitter.com/stop_stalk",
            "https://plus.google.com/110575194069678651985",
            "https://github.com/stopstalk/stopstalk-deployment"
      ]
    }
    </script>
  </body>
</html>
