{{extend 'layout.html'}}
<html>
  <head>
    <title>User profile: {{=actual_handle}}</title>
    <style>

        .chip {
            color: black;
            background-color: #e4e4e4;
        }

        #user-details {
            float: left;
            margin-top: 10%;
            margin-left: 7%;
        }

        #no-user {
            margin-top: 20%;
        }

    </style>

    <!--Load the AJAX API-->
    <!-- @Todo: Load only if we have any submissions for the user -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart', 'calendar']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);


      // Callback that creates and polates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      // ---------------------------------------------------------------------------------
      function drawChart() {

          var numJSON = {'AC': 0,
                         'WA': 0,
                         'TLE': 0,
                         'MLE': 0,
                         'CE': 0,
                         'RE': 0,
                         'SK': 0,
                         'PS': 0,
                         'HCK': 0,
                         'OTH': 0
                         };

          $.ajax({
              method: 'GET',
              url: '{{=URL("user", "get_stats", vars={"user_id": row.id, "custom": custom}, extension="json")}}'
          }).done(function(data) {

              var statuses = data['row'];
              $.each(statuses, function(i) {
                  numJSON[statuses[i]['submission']['status']] = statuses[i]['_extra']['COUNT(submission.id)'];
              });

              // Create the data table.
              var data = new google.visualization.DataTable();
              data.addColumn('string', 'resultType');
              data.addColumn('number', 'numberOfSubmissions');
              data.addRows([
                  ['Accepted', numJSON['AC']],
                  ['Partially Solved', numJSON['PS']],
                  ['Wrong Answer', numJSON['WA']],
                  ['Time Limit Exceeded', numJSON['TLE']],
                  ['Memory Limit Exceeded', numJSON['MLE']],
                  ['Runtime Error', numJSON['RE']],
                  ['Compile Error', numJSON['CE']],
                  ['Hacked', numJSON['HCK']],
                  ['Skipped', numJSON['SK']],
                  ['Others', numJSON['OTH']]
              ]);

              // Set chart options
              var options = {'title':'Total Submissions',
                             'width':800,
                             'height':600,
                             'pieHole': 0.5,
                             'slices': {0: {color: '#109618'},
                                        1: {color: '#72F92F'},
                                        2: {color: '#DC3912'},
                                        3: {color: '#3366CC'},
                                        4: {color: '#0099C6'},
                                        5: {color: '#990099'},
                                        6: {color: '#FF9900'},
                                        7: {color: '#620462'},
                                        8: {color: '#E5F01A'},
                                        9: {color: '#CCCCCC'}},
                             'pieResidueSliceLabel': '',
                             'pieResidueSliceColor': 'transparent'
                             };

              // Instantiate and draw our chart, passing in some options.
              var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
              chart.draw(data, options);
          });
        }

        $(document).ready(function() {
            $('.modal-trigger').leanModal();
            $('.friends-button').click(function() {
                var thisButton = $(this);
                var userID = thisButton.attr('data-user-id');
                var buttonType = thisButton.attr('data-type');
                if (buttonType != 'disabled') {
                    if (buttonType == 'add-friend') {
                        thisButton.addClass('disabled');
                        thisButton.removeClass('waves-effect');
                        thisButton.removeClass('waves-light');
                        thisButton.attr('data-type', 'disabled');
                        thisButton.attr('data-tooltip', 'Friend request pending');
                        thisButton.attr('data-user-id', '');
                        $.ajax({
                            method: 'POST',
                            url: '{{=URL("default", "mark_friend")}}' + '/' + userID
                        }).done(function(response) {
                            Materialize.toast(response, 4000);
                        }).error(function(httpObj, textStatus) {
                            if(httpObj.status == "401") {
                                thisButton.removeClass('disabled');
                                thisButton.addClass('green');
                                thisButton.attr('data-type', 'add-friend');
                                thisButton.attr('data-tooltip', 'Send friend request');
                                Materialize.toast("Login to send friend request", 4000);
                            }
                            else {
                                Materialize.toast("Unexpected error occurred", 4000);
                            }
                        });
                    }
                    else {
                        thisButton.removeClass('black');
                        thisButton.addClass('green');
                        thisButton.attr('data-type', 'add-friend');
                        thisButton.attr('data-tooltip', 'Send friend request');
                        $.ajax({
                            method: 'POST',
                            url: '{{=URL("default", "unfriend")}}' + '/' + userID
                        }).done(function(response) {
                            var child = $(thisButton.children()[0]);
                            child.removeClass('fa-user-times');
                            child.addClass('fa-user-plus');
                            Materialize.toast(response, 4000);
                        }).error(function(httpObj, textStatus) {
                            Materialize.toast("Unexpected error occurred", 4000);
                        });
                    }
                }
            });

        });
    </script>
    <script>
        google.load("visualization", "1.1", {packages:["calendar"]});
        google.setOnLoadCallback(drawCalendar);

        // ---------------------------------------------------------------------------------
        function goToByScroll(id) {
            $('html, body').animate({scrollTop: $("#" + id).offset().top}, 'slow');
        }

        // ---------------------------------------------------------------------------------
        function drawCalendar() {

            $.ajax({
                method: 'GET',
                url: '{{=URL("user", "get_dates", vars={"user_id": row.id, "custom": custom}, extension="json")}}'
            }).done(function(total){
                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn({ type: 'date', id: 'Date' });
                dataTable.addColumn({ type: 'number', id: 'Number' });

                // @ToDo: Get the tooltip working
                // dataTable.addColumn({type: 'string', role: 'tooltip'});

                var dateList = [],
                    dt;

                $.each(total['total'], function(key, val) {
                    dt = key.split('-');
                    dateList.push([new Date(dt[0], --dt[1], dt[2]), val['count']]);
                });

                // Update html for the streaks
                $('#max-streak').html(total['max_streak']);
                $('#curr-streak').html(total['curr_streak']);
                $('#max-accepted-streak').html(total['max_accepted_streak']);
                $('#curr-accepted-streak').html(total['curr_accepted_streak']);
                dataTable.addRows(dateList);

                var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));
                google.visualization.events.addListener(chart, 'select', selectHandler);

                function selectHandler(e) {
                    var selection = chart.getSelection();
                    var milliseconds = selection[0]["date"];

                    if (milliseconds) {
                        var dateObj = new Date(milliseconds);
                        var yyyy = dateObj.getFullYear().toString();
                        var mm = (dateObj.getMonth()+1).toString(); // getMonth() is zero-based
                        var dd  = dateObj.getDate().toString();
                        var finalDate = yyyy + '-' + (mm[1]?mm:'0'+mm[0]) + '-' + (dd[1]?dd:'0'+dd[0]);
                        $.ajax({
                            url: '{{=URL("user", "get_activity", vars={"user_id": row.id, "custom": custom}, extension="json")}}',
                            data: {'date': finalDate},
                            method: 'POST',
                        }).done(function(response) {
                            $("#activity").html(response["table"]);
                            goToByScroll("activity");
                        });
                    }
                }

                var options = {
                    legend: 'none',
                    tooltip: {isHtml: true},
                    title: 'All Submissions',
                    colorAxis: {minValue: 1,
                                colors: ['#dae7ab', '#d6e685', '#8cc665', '#44a340', '#005200', '#001A00'],
                                values: [0, 4, 8, 12, 16, 20]},
                    noDataPattern: {
                        backgroundColor: '#eeeeee',
                        color: '#eeeeee'
                    },
                    height: 600,
                    calendar: {
                        monthOutlineColor: {
                            stroke: '#ffffff',
                            strokeWidth: 2
                        },
                        unusedMonthOutlineColor: {
                            stroke: '#ffffff',
                            strokeWidth: 2
                        },
                        focusedCellColor: {
                            stroke: 'black',
                            strokeOpacity: 0.8,
                            strokeWidth: 0.2
                        }
                    }
                };

                chart.draw(dataTable, options);
            });
        }
    </script>
  </head>

  <body>

    {{if nouser:}}
        <div id="no-user">
            <h5>Invalid StopStalk handle in the URL.</h5>
        </div>
    {{else:}}
    <div id="user-details">
        <div class="row">
            <table class="centered">
                <tr>
                    <th><h5><strong><b>{{=name}}</b></strong></h5></th>
                    <th>
                        <a href="{{=URL('default', 'leaderboard', vars={'q': row.institute})}}" class="tooltipped btn-floating btn-large waves-effect waves-light yellow" data-position="bottom" data-delay="50" data-tooltip="{{=row.institute}}">
                            <i class="fa fa-institution fa-3x"></i>
                        </a>
                    </th>
                    <th>
                        <a href="{{=URL('user', 'submissions', args=[actual_handle])}}" class="tooltipped btn-floating btn-large waves-effect waves-light red" data-position="bottom" data-delay="50" data-tooltip="View user submissions" target="_blank">
                            <i class="fa fa-long-arrow-right fa-3x"></i>
                        </a>
                    </th>
                    {{if flag == "not-friends" and custom == False:}}
                        <th>
                            <button class="tooltipped btn-floating btn-large waves-effect waves-light friends-button green" data-position="bottom" data-delay="50" data-tooltip="Send Friend Request" data-user-id="{{=row.id}}" data-type="add-friend">
                                <i class="fa fa-user-plus fa-3x"></i>
                            </button>
                        </th>
                    {{elif flag != "my-custom-user" and custom == True:}}
                        <th>
                            <a href="#stopstalk-handle" class="tooltipped btn-floating btn-large waves-effect waves-light modal-trigger purple" data-position="bottom" data-delay="50" data-tooltip="Add to my Custom Friend List">
                                <i class="fa fa-plus fa-3x"></i>
                            </a>
                            <!-- Modal Structure -->
                            <div id="stopstalk-handle" class="modal center">
                                <div class="modal-content">
                                    <h5>Add this Custom User</h5>
                                    <p>Please enter StopStalk handle for new Custom User</p>
                                    <p>Note: It will consume one custom user from your allowed custom users</p>
                                    <form class="col s12 center" action="{{=URL('user', 'add_custom_friend')}}" method="POST">
                                        <div class="row">
                                            <div class="input-field col offset-s3 s6">
                                                <input name="stopstalk_handle" id="stopstalk_handle" type="text" required/>
                                                <label for="stopstalk_handle">StopStalk handle</label>
                                                <input name="row" type="hidden" value="{{=row.as_dict()}}" />
                                                <input type="submit" value="Add custom friend"></input>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </th>
                    {{elif flag == "pending":}}
                        <th>
                            <button class="tooltipped btn-floating btn-large disabled friends-button" data-position="bottom" data-delay="50" data-tooltip="Friend request pending!" data-type="disabled">
                                <i class="fa fa-user-plus fa-3x"></i>
                            </button>
                        </th>
                    {{elif flag == "already-friends":}}
                        <th>
                            <button class="tooltipped btn-floating btn-large waves-effect waves-light black friends-button" data-position="bottom" data-delay="50" data-tooltip="Unfriend" data-user-id="{{=row.id}}" data-type="unfriend">
                                <i class="fa fa-user-times fa-3x"></i>
                            </button>
                        </th>
                    {{pass}}
                </tr>
            </table>
        </div>
        {{if parent_user:}}
            <h6>Custom User of <a href="{{=URL('user', 'profile', args=parent_user[1])}}">{{=parent_user[0]}}</a></h6>
        {{pass}}
        <div class="row center">
            <h6><strong>Accuracy</strong></h6>
            {{for site in current.SITES:}}
                <a href="{{=(current.SITES[site] + row[site.lower() + '_handle'])}}" class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="{{=site}}" target="_blank">
                    <div class="chip">
                        <img src="{{=URL('static', 'images/' + site.lower() + '_logo.png')}}" alt="{{=site}}"/>
                        {{=efficiency[site]}}
                    </div>
                </a>
            {{pass}}
        </div>
        <table class="striped centered">
            <caption><h6><strong>Streak<strong></h6></caption>
            <thead>
                <tr>
                    <th colspan="2"><strong>Day Streak</strong></th>
                    <th colspan="2"><strong>Accepted Solution Streak</strong></th>
                </tr>
                <tr>
                    <th><h6>Current</h6></th>
                    <th><h6>Maximum</h6></th>
                    <th><h6>Current</h6></th>
                    <th><h6>Maximum</h6></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="curr-streak"></td>
                    <td id="max-streak"></td>
                    <td id="curr-accepted-streak"></td>
                    <td id="max-accepted-streak"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="chart_div" style="margin-left: 45%; padding: 2%; overflow-x: hidden;"></div>
    <br/><br/>
    <div id="calendar_basic" class="center" style="margin-left: 18%; width: 70%;"></div>
    <div id="activity"></div>
    {{pass}}
  </body>
</html>
