{{extend 'layout.html'}}
<html>
  <head>
    <title>{{=T("User profile")}}: {{=actual_handle}} {{="(" + row.first_name + " " + row.last_name + ")"}}</title>
    <link rel="stylesheet" href="{{=URL('static','flag-icon/css/flag-icon.min.css')}}"/>

    <style>

        .chip {
            color: black;
            background-color: #e4e4e4;
        }

        #user-details {
            float: left;
            margin-top: 7%;
            margin-left: 9%;
        }

        #chart_div {
            margin-top: 7%;
        }

        #no-user {
            margin-top: 20%;
        }

        .invalid-handle {
            background-color: #FF374B;
        }

        .not-provided {
            background-color: #9DE887;
        }

        .pending-retrieval {
            background-color: #9B5DD8;
        }
    </style>

    <!--Load the AJAX API-->
    <!-- @Todo: Load only if we have any submissions for the user -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        var isLoggedIn = "{{=auth.is_logged_in()}}";
        var handleDetailsURL = "{{=URL('user', 'handle_details', extension='json')}}";
        var handle = "{{=handle}}";
        var getSolvedCountsURL = "{{=URL('user', 'get_solved_counts', extension='json')}}";
        var custom = "{{=custom}}";
        var userID = "{{=user_id}}";
        var onlyGreen = false;
    </script>
    <script type="text/javascript">
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);


      // Callback that creates and polates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      // ---------------------------------------------------------------------------------
      function drawChart() {

          var numJSON = {'AC': 0,
                         'WA': 0,
                         'TLE': 0,
                         'MLE': 0,
                         'CE': 0,
                         'RE': 0,
                         'SK': 0,
                         'PS': 0,
                         'HCK': 0,
                         'OTH': 0
                         };

          $.ajax({
              method: 'GET',
              url: '{{=URL("user", "get_stats", extension="json")}}',
              data: {user_id: '{{=row.id}}',
                     custom: '{{=custom}}'}
          }).done(function(data) {

              var statuses = data['row'];
              $.each(statuses, function(i) {
                  numJSON[statuses[i]['submission']['status']] = statuses[i]['_extra']['COUNT(submission.id)'];
              });

              // Create the data table.
              var data = new google.visualization.DataTable();
              data.addColumn('string', 'resultType');
              data.addColumn('number', 'numberOfSubmissions');
              data.addRows([
                  ['Accepted', numJSON['AC']],
                  ['Partially Solved', numJSON['PS']],
                  ['Wrong Answer', numJSON['WA']],
                  ['Time Limit Exceeded', numJSON['TLE']],
                  ['Memory Limit Exceeded', numJSON['MLE']],
                  ['Runtime Error', numJSON['RE']],
                  ['Compile Error', numJSON['CE']],
                  ['Hacked', numJSON['HCK']],
                  ['Skipped', numJSON['SK']],
                  ['Others', numJSON['OTH']]
              ]);

              // Set chart options
              var options = {'title':'Total Submissions',
                             'width':600,
                             'height':500,
                             'pieHole': 0.5,
                             'slices': {0: {color: '#4CAF50'},
                                        1: {color: '#8BC34A'},
                                        2: {color: '#F44336'},
                                        3: {color: '#3F51B5'},
                                        4: {color: '#03A9F4'},
                                        5: {color: '#9C27B0'},
                                        6: {color: '#FF9800'},
                                        7: {color: '#795548'},
                                        8: {color: '#FFEB3B'},
                                        9: {color: '#9E9E9E'}},
                             'pieResidueSliceLabel': '',
                             'pieResidueSliceColor': 'transparent'
                             };

              // Instantiate and draw our chart, passing in some options.
              var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
              chart.draw(data, options);
          });
        }

    </script>
    <script src="{{=URL('static', 'js/appjs/user/profile.js')}}" type="text/javascript"></script>
    <script>
        google.load("visualization", "1.1", {packages:["calendar"]});
        google.setOnLoadCallback(drawCalendar);

        // ---------------------------------------------------------------------------------
        function goToByScroll(id) {
            $('html, body').animate({scrollTop: $("#" + id).offset().top}, 'slow');
        }

        // ---------------------------------------------------------------------------------
        function createCustomHTML(currDate, currVal) {
            var withoutCount = Object.assign({}, currVal);
            delete withoutCount["count"];
            var customHTML = "<div style='min-width: 180px;'><h6>" +
                             currDate +
                             "</h6><div style='padding-right: 5px; display: inline;'>";
            $.each(withoutCount, function(status, count) {
                customHTML += "<div class='chip'><img src='/static/images/" +
                              status + "-icon.jpg'></img>" +
                              count + "</div> ";
            });
            customHTML += "<div></div></div></div>";
            return customHTML;
        }

        // ---------------------------------------------------------------------------------
        function computeCellValue(val) {
            if(onlyGreen) {
                return val.count;
            }
            var accepted = val.AC, partiallyAccepted = val.PS;
            if(accepted === undefined) accepted = 0;
            if(partiallyAccepted === undefined) partiallyAccepted = 0;
            // Math = Accepted - Not Accepted
            //      = (accepted + partiallyAccepted) - [total - (accepted + partiallyAccepted)]
            return 2 * (accepted + partiallyAccepted) - val.count;
        }

        // ---------------------------------------------------------------------------------
        function selectHandler(e) {
            var selection = calendarChart.getSelection();
            var milliseconds = selection[0]["date"];
            if (milliseconds) {
                var dateObj = new Date(milliseconds);
                var yyyy = dateObj.getFullYear().toString();
                var mm = (dateObj.getMonth() + 1).toString(); // getMonth() is zero-based
                var dd  = dateObj.getDate().toString();
                var finalDate = yyyy + '-' + (mm[1] ? mm : '0'+ mm[0]) +
                                '-' + (dd[1] ? dd : '0' + dd[0]);
                $.ajax({
                    url: '{{=URL("user", "get_activity", extension="json")}}',
                    data: {date: finalDate, user_id: '{{=row.id}}', custom: '{{=custom}}'},
                    method: 'POST'
                }).done(function(response) {
                    $("#activity").html(response["table"]);
                    $(".tooltipped").tooltip({});
                    goToByScroll("activity");
                });
            }
        }

        // ---------------------------------------------------------------------------------
        function drawCalendarFromData(allData) {

            var dataTable = new google.visualization.DataTable(), dateList = [], dt;
            dataTable.addColumn({ type: 'date', id: 'Date' });
            dataTable.addColumn({ type: 'number', id: 'Number' });
            dataTable.addColumn({ type: 'string', role: 'tooltip', 'p': {'html': true} });
            $.each(allData, function(key, val) {
                dt = key.split('-');
                dateList.push([new Date(dt[0], --dt[1], dt[2]),
                               computeCellValue(val),
                               createCustomHTML(key, val)]);
            });
            dataTable.addRows(dateList);

            var colorAxisOption,
                graphTitle,
                onlyGreenAxis = {minValue: 1,
                                 colors: ['#dae7ab', '#d6e685', '#8cc665', '#44a340', '#005200', '#001A00'],
                                 values: [0, 4, 8, 12, 16, 20]},
                greenRedAxis = {colors: ['#CA1717', '#FFFFFF', '#27CE05'],
                                values: [-5, 0, 5],
                                maxValue: 5,
                                minValue: -5},
                submissionTitle = "Submission Graph",
                acceptanceTitle = "Acceptance Graph";

            if (onlyGreen) {
                graphTitle = submissionTitle;
                colorAxisOption = onlyGreenAxis;
            } else {
                graphTitle = acceptanceTitle;
                colorAxisOption = greenRedAxis;
            }

            var options = {
                legend: 'none',
                tooltip: {isHtml: true},
                title: graphTitle,
                colorAxis: colorAxisOption,
                noDataPattern: {
                    backgroundColor: '#eeeeee',
                    color: '#eeeeee'
                },
                height: 750,
                calendar: {
                    monthOutlineColor: {
                        stroke: '#ffffff',
                        strokeWidth: 2
                    },
                    unusedMonthOutlineColor: {
                        stroke: '#ffffff',
                        strokeWidth: 2
                    },
                    focusedCellColor: {
                        stroke: 'grey',
                        strokeOpacity: 0.8,
                        strokeWidth: 1
                    }
                }
            };
            calendarChart.draw(dataTable, options);

            $('#toggle-submission-graph').on('click', function() {
                onlyGreen = !onlyGreen;
                if(onlyGreen) {
                    graphTitle = submissionTitle;
                    colorAxisOption = onlyGreenAxis;
                }
                else {
                    graphTitle = acceptanceTitle;
                    colorAxisOption = greenRedAxis;
                }
                options["colorAxis"] = colorAxisOption;
                options["title"] = graphTitle;

                var dataTable = new google.visualization.DataTable(), dateList = [], dt;
                dataTable.addColumn({ type: 'date', id: 'Date' });
                dataTable.addColumn({ type: 'number', id: 'Number' });
                dataTable.addColumn({ type: 'string', role: 'tooltip', 'p': {'html': true} });
                $.each(allData, function(key, val) {
                    dt = key.split('-');
                    dateList.push([new Date(dt[0], --dt[1], dt[2]),
                                   computeCellValue(val),
                                   createCustomHTML(key, val)]);
                });
                dataTable.addRows(dateList);
                calendarChart.draw(dataTable, options);
            });
        }

        // ---------------------------------------------------------------------------------
        function drawCalendar() {
            calendarChart = new google.visualization.Calendar(document.getElementById('calendar_submission'));
            google.visualization.events.addListener(calendarChart, 'select', selectHandler);

            $.ajax({
                method: 'GET',
                url: '{{=URL("user", "get_dates", extension="json")}}',
                data: {user_id: "{{=row.id}}",
                       custom: "{{=custom}}"}
            }).done(function(total) {
                // Update html for the streaks
                $('#max-streak').html(total['max_streak']);
                $('#curr-streak').html(total['curr_streak']);
                $('#max-accepted-streak').html(total['max_accepted_streak']);
                $('#curr-accepted-streak').html(total['curr_accepted_streak']);

                drawCalendarFromData(total['total']);
            });
        }
    </script>
  </head>
  <body>
    {{if nouser:}}
        <div id="no-user">
            <h5>{{=T("Invalid StopStalk handle in the URL.")}}</h5>
        </div>
    {{else:}}
    <table>
        <tr>
            <td>
                <div id="user-details" class="center">
                    <div class="row">
                        <table class="centered">
                            <tr>
                                <th>
                                    <h4>
                                        <span>{{if row.country:}} {{=SPAN(_class="flag-icon flag-icon-" + current.all_countries[row.country].lower(), _title=row.country)}}  &nbsp; {{pass}}</span>
                                        <strong><b>{{=name}}</b></strong>
                                    </h4>
                                </th>
                                <th>
                                    <a href="{{=URL('default', 'leaderboard', vars={'q': row.institute})}}" class="tooltipped btn-floating btn-large waves-effect waves-light yellow" data-position="bottom" data-delay="50" data-tooltip="{{=row.institute}}">
                                        <i class="fa fa-institution fa-3x"></i>
                                    </a>
                                </th>
                                <th>
                                    <a href="{{=URL('user', 'submissions', args=[actual_handle])}}" class="tooltipped btn-floating btn-large waves-effect waves-light red" data-position="bottom" data-delay="50" data-tooltip="{{=T('View user submissions')}}" target="_blank">
                                        <i class="fa fa-long-arrow-right fa-3x"></i>
                                    </a>
                                </th>
                                {{if flag == "not-friends" and custom == False:}}
                                    <th>
                                        <button class="tooltipped btn-floating btn-large waves-effect waves-light friends-button green" data-position="bottom" data-delay="50" data-tooltip="{{=T('Add friend')}}" data-user-id="{{=row.id}}" data-type="add-friend">
                                            <i class="fa fa-user-plus fa-3x"></i>
                                        </button>
                                    </th>
                                {{elif flag != "my-custom-user" and custom == True:}}
                                    <th>
                                        {{if auth.is_logged_in():}}
                                            <a href="#stopstalk-handle" class="tooltipped btn-floating btn-large waves-effect waves-light modal-trigger purple" data-position="bottom" data-delay="50" data-tooltip="{{=T('Add to my Custom Friend List')}}">
                                                <i class="fa fa-plus fa-3x"></i>
                                            </a>
                                        {{else:}}
                                            <a class="disabled btn-floating btn-large tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{=T('Login to add as Custom Friend')}}">
                                                <i class="fa fa-plus fa-3x"></i>
                                            </a>
                                        {{pass}}
                                        <!-- Modal Structure -->
                                        <div id="stopstalk-handle" class="modal center">
                                            <div class="modal-content">
                                                <h5>{{=T("Add this Custom User")}}</h5>
                                                <p>{{=T("Please enter StopStalk handle for new Custom User")}}</p>
                                                <p>{{=T("Note: It will consume one custom user from your allowed custom users")}}</p>
                                                <form class="col s12 center" action="{{=URL('user', 'add_custom_friend')}}" method="POST">
                                                    <div class="row">
                                                        <div class="input-field col offset-s3 s6">
                                                            <input name="stopstalk_handle" id="stopstalk_handle" type="text" required/>
                                                            <label for="stopstalk_handle">StopStalk handle</label>
                                                            <input name="row" type="hidden" value="{{=row.as_dict()}}" />
                                                            <input type="submit" value="Add custom friend"></input>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </th>
                                {{elif flag == "already-friends":}}
                                    <th>
                                        <button class="tooltipped btn-floating btn-large waves-effect waves-light black friends-button" data-position="bottom" data-delay="50" data-tooltip="{{=T('Unfriend')}}" data-user-id="{{=row.id}}" data-type="unfriend">
                                            <i class="fa fa-user-times fa-3x"></i>
                                        </button>
                                    </th>
                                {{pass}}
                            </tr>
                        </table>
                        <span class="light grey-text"><i>{{=T("Last updated")}}: <b>{{=last_updated}}</b></i></span>
                    </div>
                    {{if parent_user:}}
                        <h6>{{=T("Custom User of")}} <a href="{{=URL('user', 'profile', args=parent_user[1])}}">{{=parent_user[0]}}</a></h6>
                    {{pass}}
                    <div class="row center">
                        <h6><strong>{{=T("Accuracy")}}</strong></h6>
                        {{for site in current.SITES:}}
                            {{if profile_urls[site] != "NA":}}
                                <a href="{{=profile_urls[site]}}" class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="{{=site}}" target="_blank">
                                    <div class="chip" id="{{=site.lower()}}_chip">
                                        <img src="{{=URL('static', 'images/' + site.lower() + '_logo.png')}}" alt="{{=site}}"/>
                                        {{=efficiency[site]}}
                                    </div>
                                </a>
                            {{else:}}
                                <a href="{{=current.SITES[site]}}" class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="{{=site}}" target="_blank">
                                    <div class="chip" id="{{=site.lower()}}_chip">
                                        <img src="{{=URL('static', 'images/' + site.lower() + '_logo.png')}}" alt="{{=site}}"/>
                                        {{=efficiency[site]}}
                                    </div>
                                </a>
                            {{pass}}
                        {{pass}}
                    </div>
                    <table class="bordered centered">
                        <thead>
                            <tr>
                                <th colspan="2"><strong>{{=T("Day Streak")}}</strong></th>
                                <th colspan="2"><strong>{{=T("Accepted Solution Streak")}}</strong></th>
                                <th colspan="2"><strong>{{=T("Problems")}}</strong></th>
                            </tr>
                            <tr>
                                <th><h6>{{=T("Current")}}</h6></th>
                                <th><h6>{{=T("Maximum")}}</h6></th>
                                <th><h6>{{=T("Current")}}</h6></th>
                                <th><h6>{{=T("Maximum")}}</h6></th>
                                <th><h6>{{=T("Solved")}}</h6></th>
                                <th><h6>{{=T("Total")}}</h6></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="curr-streak"></td>
                                <td id="max-streak"></td>
                                <td id="curr-accepted-streak"></td>
                                <td id="max-accepted-streak"></td>
                                <td id="solved-problems"></td>
                                <td id="total-problems"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div id="chart_div"></div>
            </td>
        </tr>
    </table>
    <br/><br/>
    <div class="switch">
        <label>
            Acceptance Graph
            <input type="checkbox" id="toggle-submission-graph">
            <span class="lever pink accent-3"></span>
            Submission Graph
        </label>
    </div>
    <br/>
    <div id="calendar_submission" class="center" style="margin-left: 15%; width: 70%;"></div>
    <div id="activity"></div>
    {{pass}}
  </body>
</html>
