{{extend 'layout.html'}}
<head><title>User submissions</title></head>
<script src="{{=URL('static', 'js/jquery.bootpag.min.js')}}"></script>
<style>
    #refresh-submissions {
        margin-right: 4%;
    }
</style>
<script>
    var clearSession = function() {
        sessionStorage.clear();
        window.location.href = "";
    }
    $(function() {

        var currentURL = window.location.href,
            handle,
            page,
            index;

        index = currentURL.indexOf("=");
        if (index == -1) {
            page = "1";
        }
        else {
            page = currentURL.slice(index + 1);
        }

        $.ajax({
            method: 'GET',
            url: '{{=URL("user", "submissions", args=handle, extension="json")}}' + "?page=" + page
        }).done(function(response) {

            var pageCount = response['page_count'];
            $('#page-selection').bootpag({
                total: pageCount,
                page: parseInt(page),
                maxVisible: 10
            }).on("page", function(event, num) {
                window.location.href = "{{=URL('user', 'submissions', args=handle)}}" + "?page=" + num.toString();
            });

        });

    });
</script>
{{if total_rows:}}
    {{if user == "Self":}}
        <h1>Your submissions</h1>
    {{else:}}
        <h1>Submissions of {{=user}}</h1>
    {{pass}}
    <div id="page-selection" class="center"></div>
    {{=table}}
{{else:}}
    <br /><br />
    <h5>No submissions in the database yet!</h5>
    <h5>If you have registered today then your submissions will be up by tomorrow morning!</h5>
    <h5>Make sure you entered the correct site handles.</h5>
    <h5>Till then you can add your friends who are already on StopStalk!</h5>
{{pass}}

