{{extend 'layout.html'}}
{{block head}}
  <title>{{=T("Update Details")}}</title>
  <meta name="description" content="Update profile on StopStalk">
  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
{{end}}
<h1>{{=T("Update Details")}}</h1>
<div class="row">
    <div class="col offset-s2 s8">
        <p class="red-text">{{=T("Note: If you update your handles, your rating and per-day change will become zero for some time and will be re-computed in the next round of update when your submissions from the updated handle are retrieved.")}}</p>
        {{=form}}
    </div>
</div>

