{{extend 'layout.html'}}
<head>
  <link rel="stylesheet" href="{{=URL('static', 'simplemde/simplemde.min.css')}}">
  <script src="{{=URL('static', 'simplemde/simplemde.min.js')}}"></script>
</head>
<div class="left-align">
<textarea id="simplemde" style="text-align: left;"></textarea>
</div>
<script type="text/javascript">
    var simplemde = new SimpleMDE({
    autofocus: true,
    autosave: {
        enabled: true,
        uniqueId: "MyUniqueID",
        delay: 1000,
    },
    autoDownloadFontAwesome: true,
    element: document.getElementById("simplemde"),
    forceSync: true,
    indentWithTabs: false,
    initialValue: "Hello world!",
    lineWrapping: false,
    parsingConfig: {
        allowAtxHeaderWithoutSpace: true,
        strikethrough: false,
        underscoresBreakWords: true,
    },
    placeholder: "Type here...",
    promptURLs: true,
    renderingConfig: {
        singleLineBreaks: false,
        codeSyntaxHighlighting: true,
    },
    shortcuts: {
        drawTable: "Cmd-Alt-T"
    },
    showIcons: ["code", "table"],
    spellChecker: false,
    status: false,
    status: ["autosave", "lines", "words", "cursor"], // Optional usage
    status: ["autosave", "lines", "words", "cursor", {
        className: "keystrokes",
        defaultValue: function(el) {
            this.keystrokes = 0;
            el.innerHTML = "0 Keystrokes";
        },
        onUpdate: function(el) {
            el.innerHTML = ++this.keystrokes + " Keystrokes";
        }
    }], // Another optional usage, with a custom status bar item that counts keystrokes
    styleSelectedText: false,
    tabSize: 4,
    toolbarTips: true
});
</script>
