{{extend 'layout.html'}}
{{block head}}
  <link rel="stylesheet" href="{{=URL('static', 'simplemde/simplemde.min.css')}}">
  <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
  <script src="{{=URL('static', 'simplemde/simplemde.min.js')}}"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
  <title>Problem Editorial | {{=name}}</title>
  <meta name="description" content="List of editorials for {{=name}}">
  <script type="text/javascript">
    var submitEditorialURL = "{{=URL('problems', 'submit_editorial')}}";
    var problemId = "{{=problem_id}}";
  </script>
{{end}}
<div id="editorial-listing">
  <h3>Problem Editorials for <a class="problem-link-editorials-page" href="{{=URL('problems', 'index', vars={'problem_id': problem_id})}}" target="_blank">{{=name}}</a></h3>
  {{if editorial_link:}}
    <a id="site-editorial-link" class="btn btn-primary purple accent-4" href="{{=editorial_link}}">{{=site}} Editorial</a>
  {{pass}}
  {{if auth.is_logged_in():}}
    <button id="show-editor" class="btn">Write Editorial</button>
  {{pass}}
  <br/>
  {{=table}}
  <br/><br/>
</div>
<!-- <script type="text/javascript" src="{{=get_static_url('js/appjs/problems/editorials.js')}}"/> -->

{{if auth.is_logged_in():}}
<div id="write-editorial-div" style="display: none;">
  <h3>Write Editorial for {{=name}}</h3>
  <br/>
  <div class="row">
    <div class="col offset-s1 s10">
      <div class="left-align">
       <textarea id="simplemde-textarea" style="text-align: left; visibility: hidden;"></textarea>
      </div>
      <p>Your editorial is saved locally and is autosaved whenever changed but it is not submitted until Submit button is clicked</p>
      <form id="editorial-form">
        <input id="submit-editorial" type="submit" class="btn" value="Submit Editorial"/>
        <input id="cancel-editorial" type="submit" class="btn red-text white" style="margin-left: 10px;" value="Cancel"/>
      </form>
    </div>
  </div>
</div>
{{pass}}
<script type="text/javascript">
  var simpleMDEObject = null;

  var getSimpleMDE = function() {
    // If the editor is already initialized don't re-render it
    if (simpleMDEObject !== null) {
      return simpleMDEObject;
    }

    var simplemde = new SimpleMDE({
      autofocus: true,
      autosave: {
        enabled: true,
        uniqueId: 'stopstalk-' + problemId,
        delay: 5000,
      },
      autoDownloadFontAwesome: false,
      element: document.getElementById('simplemde-textarea'),
      forceSync: true,
      indentWithTabs: false,
      lineWrapping: false,
      parsingConfig: {
        allowAtxHeaderWithoutSpace: true,
        strikethrough: false,
        underscoresBreakWords: true,
      },
      placeholder: 'Start writing your editorial here. Make sure you add an explanation along with your code snippet.',
      promptURLs: true,
      renderingConfig: {
        singleLineBreaks: true,
        codeSyntaxHighlighting: true,
      },
      showIcons: ['code', 'table'],
      spellChecker: true,
      status: ['autosave', 'lines', 'words', 'cursor'],
      styleSelectedText: false,
      tabSize: 4,
      toolbarTips: true
    });
    return simplemde;
  };

  var showEditorialListing = function() {
    $('#write-editorial-div').css('display', 'none');
    $('#editorial-listing').css('display', 'block');
  };

  var showEditor = function() {
    $('#editorial-listing').fadeOut(function() {
      $('#write-editorial-div').fadeIn(function() {
        // If refreshed the page, then the content of the textarea is not visible
        simpleMDEObject.codemirror.refresh();
      });
    });
    simpleMDEObject = getSimpleMDE();
  };

  var cancelEditorial = function() {
    showEditorialListing();
  };

  var submitEditorial = function() {
    var editorialText = $('#simplemde-textarea').val();
    if(editorialText.trim() === "") {
      $.web2py.flash("Cannot submit empty editorial");
    } else {
      showEditorialListing();
      $.ajax({
        url: submitEditorialURL,
        method: 'POST',
        data: {content: editorialText,
               problem_id: problemId},
        success: function(response) {
          simpleMDEObject.clearAutosavedValue();
          simpleMDEObject.toTextArea();
          $('#simplemde-textarea').val('');
          simpleMDEObject = null;
          // God forbid my Frontend sins :D
          $.web2py.flash('Editorial submitted for review');
          window.location.href = "";
        },
        error: function(err) {
          $.web2py.flash('Error submitting editorial for verification');
          console.log(err);
        }
      });
    }
  };

  $(document).ready(function() {
    setEditorialVoteEventListeners();

    $('#show-editor').click(function() {
      showEditor();
    });

    $('#cancel-editorial').click(function() {
      cancelEditorial();
    });

    $('#submit-editorial').click(function() {
      submitEditorial();
    });

    $('#editorial-form').click(function() {
      return false;
    });
  });

</script>
