{{extend 'layout.html'}}
{{block head}}
    <title>{{=(site + " | " + problem_name)}}</title>
    <meta name="description" content="Problem page - {{=(site + ' | ' + problem_name)}}">
    <link href="{{=get_static_url('css/materialize-tags.css')}}" rel="stylesheet"/>
    <!--Load the AJAX API-->
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script src="{{=get_static_url('js/materialize-tags.js')}}" type="text/javascript"></script>
    <script src="{{=get_static_url('js/corejs-typeahead.bundle.js')}}" type="text/javascript"></script>
    <script src="{{=get_static_url('js/bloodhound.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
        var problemName = '{{=problem_name}}';
        var problemId = '{{=problem_id}}';
        var problemLink = '{{=problem_link}}'.replace(/&amp;/g, '&');
        var submissionType = '{{=submission_type}}';
        var globalSubmissionURL = '{{=URL("problems", "index", vars={"submission_type": "global", "problem_id": problem_id})}}'.replace(/&amp;/g, '&');
        var friendsSubmissionURL = '{{=URL("problems", "index", vars={"submission_type": "friends", "problem_id": problem_id})}}'.replace(/&amp;/g, '&');
        var mySubmissionURL = '{{=URL("problems", "index", vars={"submission_type": "my", "problem_id": problem_id})}}'.replace(/&amp;/g, '&');
        var openModal = ('{{=request.vars.open_modal}}' === 'True');
    </script>
    <script type="text/javascript">
        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        var drawChart = function() {
            var numJSON = {
                'AC': 0,
                'WA': 0,
                'TLE': 0,
                'MLE': 0,
                'CE': 0,
                'RE': 0,
                'SK': 0,
                'PS': 0,
                'HCK': 0,
                'OTH': 0
            };

            var pname = $('#problem_name').html();

            $.ajax({
                method: 'POST',
                url: '/problems/pie_chart_helper.json',
                data: {
                    'pid': problemId,
                    'submission_type': submissionType
                }
            }).done(function(data) {

                var statuses = data['row'],
                    totalSubmissions = 0,
                    statusCount;

                $.each(statuses, function(i) {
                    statusCount = statuses[i]['_extra']['COUNT(submission.id)'];
                    numJSON[statuses[i]['submission']['status']] = statusCount;
                    totalSubmissions += statusCount;
                });

                if (totalSubmissions) {
                    // Create the data table.
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'resultType');
                    data.addColumn('number', 'numberOfSubmissions');
                    data.addRows([
                        ['Accepted', numJSON['AC']],
                        ['Partially Solved', numJSON['PS']],
                        ['Wrong Answer', numJSON['WA']],
                        ['Time Limit Exceeded', numJSON['TLE']],
                        ['Memory Limit Exceeded', numJSON['MLE']],
                        ['Runtime Error', numJSON['RE']],
                        ['Compile Error', numJSON['CE']],
                        ['Hacked', numJSON['HCK']],
                        ['Skipped', numJSON['SK']],
                        ['Others', numJSON['OTH']]
                    ]);


                    // Set chart options
                    var options = {
                        'title': 'Total Submissions',
                        'chartArea': {
                            width: '90%',
                            height: '80%'
                        },
                        'pieHole': 0.5,
                        'slices': {
                            0: {
                                color: '#4CAF50'
                            },
                            1: {
                                color: '#8BC34A'
                            },
                            2: {
                                color: '#F44336'
                            },
                            3: {
                                color: '#3F51B5'
                            },
                            4: {
                                color: '#03A9F4'
                            },
                            5: {
                                color: '#9C27B0'
                            },
                            6: {
                                color: '#FF9800'
                            },
                            7: {
                                color: '#795548'
                            },
                            8: {
                                color: '#FFEB3B'
                            },
                            9: {
                                color: '#9E9E9E'
                            }
                        }
                    };

                    // Instantiate and draw our chart, passing in some options.
                    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                } else {
                    var $chartDiv = $('#chart_div');
                    $chartDiv.css({
                        'position': 'absolute',
                        'margin-left': '50%',
                        'margin-top': '7%',
                        'color': 'grey'
                    });
                    $chartDiv.html('<h6>Not enough data to display graph</h6>');
                }
            });
        }

        google.load('visualization', '1.0', {
            'packages': ['corechart']
        });

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);
    </script>
    <script src="{{=get_static_url('js/appjs/problems/index.js')}}" type="text/javascript"></script>
{{end}}
<div class="row">
    <h3>{{=problem_name}}</h3>
    {{=problem_details}}
    {{if auth.is_logged_in():}}
        <div class="modal" id="suggest-tags-modal">
            <div class="modal-content">
                <h4>{{=T("Suggest tags")}}</h4>
                <div class="row center">
                    <div class="col s8 offset-s2">
                        <input class="center" data-role="materialtags" id="tag-suggests" placeholder="Add tags..." type="text"/>
                        <a class="btn waves-effect waves-light" id="submit-tags">{{=T("Submit")}}</a>
                        <br/>
                    </div>
                </div>
                <div class="row center">
                    <div class="col s12">
                        <div>
                            <h5>
                                {{=T("Tags till now")}}:
                            </h5>
                            <div id="tags-till-now"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var tags = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {
                    ttl: 0,
                    url: '/problems/get_tag_values.json/',
                    transform: function(response) {
                        return response['tags'];
                    }
                }
            });

            tags.initialize();

            function searchWithDefaults(q, sync) {
                if (q === '') {
                    sync(tags.index.all());
                } else {
                    tags.search(q, sync);
                }
            }

            $('#tag-suggests').materialtags({
                itemValue: 'value',
                itemText: 'text',
                onTagExists: function(item, $tag) {
                    // @ToDo: $tag here does not give the tag for some reason.
                    var $origTag = $('#tag-' + item.value);
                    $origTag.css({
                        'background-color': 'white',
                        'color': 'black'
                    });
                    setTimeout(function() {
                        $origTag.css({
                            'background-color': 'black',
                            'color': 'white'
                        });
                    }, 150);
                },
                typeaheadjs: [{
                    highlight: true,
                    minLength: 0
                }, {
                    displayKey: 'text',
                    source: searchWithDefaults,
                    limit: 100
                }],
                freeInput: false
            });
            $('#tag-suggests').on('itemRemoved', function(event) {
                $(this).materialtags('focus');
            });
        </script>
    {{pass}}
</div>
<div class="row">
    <div class="col s12">
        <ul class="tabs" id="submission-tabs">
            <li class="tab col s4" value="my"><a id="my-submissions-tab" href="#my">{{=T("My Submissions")}}</a></li>
            <li class="tab col s4" value="friends"><a id="friends-submissions-tab" href="#friends">{{=T("Friends' Submissions")}}</a></li>
            <li class="tab col s4" value="global"><a id="global-submissions-tab" href="#global">{{=T("Global Submissions")}}</a></li>
        </ul>
    </div>
    <div id="my" class="col s12"></div>
    <div id="friend" class="col s12"></div>
    <div id="global" class="col s12"></div>
</div>
{{if submission_type == "global" and submission_length >= 300:}}
    <p style="font-size: 12px;">Note: This is the list of 300 recent submissions</p>
{{pass}}
{{=table}}
