{{extend 'layout.html'}}
<head><title>{{=T("Tag Search")}}</title></head>

<script src="{{=URL('static', 'js/jquery.bootpag.min.js')}}"></script>
<script type="text/javascript">
    var baseURL = "{{=URL('problems', 'tag', host=True, scheme=True)}}";
</script>
<script src="{{=URL('static', 'js/appjs/problems/tag.js', vars={'v': current.REDIS_CLIENT.get('js/appjs/problems/tag.js')})}}"></script>
<h3>{{=T("Search problems by tags")}}</h3>
<form id="tagSearchForm" method="GET" action="">
    <div class="row center">
        <div class="input-field col offset-s1 s4">
            <input id="search" name="q" type="text" value="{{=request.vars.get('q', '')}}"/>
            <input id="page" name="page" type="hidden" value="1"/>
            <label for="search">{{=T("Search Site Tags...")}}</label>
        </div>
        <div class="col s2" style="margin-top: 2.5%;">
            <span><i class="fa fa-long-arrow-left"></i> &nbsp;&nbsp;&nbsp; OR &nbsp;&nbsp;&nbsp; <i class="fa fa-long-arrow-right"></i></span>
        </div>
        <div class="input-field col s4">
            <select id="generalized-tag-search" name="generalized_tags" multiple>
                <option value="" disabled selected>{{=T("Generalized StopStalk tags")}}</option>
                {{for tag in generalized_tags:}}
                    <option value="{{=tag}}">{{=tag}}</option>
                {{pass}}
            </select>
        </div>

    <div class="row">
        <div class="input-field col offset-s2 s4">
            <select id="profile-site" name="site" multiple>
                <option value="" disabled selected>{{=T("Site")}}</option>
                {{for site in current.SITES:}}
                    <option value="{{=site}}">{{=site}}</option>
                {{pass}}
            </select>
        </div>
        <div class="input-field col s4">
            <select id="orderby-problems" name="orderby">
                <option value="" disabled selected>{{=T("Sort By")}}</option>
                <option value="accuracy-asc">{{=T("Accuracy (Ascending)")}}</option>
                <option value="accuracy-desc">{{=T("Accuracy (Descending)")}}</option>
                <option value="solved-count-asc">{{=T("Solved Count (Ascending)")}}</option>
                <option value="solved-count-desc">{{=T("Solved Count (Descending)")}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="blue btn waves-effect waves-light"><i class="fa fa-search"></i></button>
    </div>
</form>
{{if request.vars.get("orderby", "").__contains__("accuracy"):}}
    <h6 class="red-text">Note: HackerRank problems are not shown as their accuracy is 100% (Only solved problems are retrieved)</h6>
{{pass}}
<div id="page-selection" class="center"></div>
<div class="row" id="problem-response">
    {{=table}}
</div>