input.form-control {
    width: 50%;
    text-align:  center;
}

.pagination li.active{
    background-color: #259b24;
}

#welcome {
    min-width: 180px;
}

#welcome > li > a {
    color: #424242;
}

.problem-setter-href {
    text-decoration: none;
    margin-left: 5px;
    cursor: pointer;
    font-size: large;
    white-space: nowrap;
}

.problem-setter-href a {
    color: #424242;
}

.problem-setter-on-stopstalk {
    border-bottom: 2px solid #d61e95;
}

.problem-setter-on-profile-site {
    border-bottom: 2px solid #f7ba0f;
}

.problem-setter-text {
    text-decoration: none;
    border-bottom: 2px solid #cabfbf;
    margin-left: 5px;
    color: black;
    font-size: large;
    white-space: nowrap;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

iframe {
    visibility: block;
}

div.error {
    color: red;
}

.solved-problem {
    color: green;
    font-weight: bolder;
}

.unsolved-problem {
    color: #D9071D;
    font-weight: bolder;
}

.status-icon {
    height: 25px;
    width: 25px;
}

.prettyprint {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text;
    overflow: hidden;
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
    pre.prettyprint { background-color: none }
    pre .str, code .str { color: #060 }
    pre .kwd, code .kwd { color: #006; font-weight: bold }
    pre .com, code .com { color: #600; font-style: italic }
    pre .typ, code .typ { color: #404; font-weight: bold }
    pre .lit, code .lit { color: #044 }
    pre .pun, code .pun { color: #440 }
    pre .pln, code .pln { color: #000 }
    pre .tag, code .tag { color: #006; font-weight: bold }
    pre .atn, code .atn { color: #404 }
    pre .atv, code .atv { color: #060 }
}

.remove-from-todo:hover {
    cursor: pointer;
}

a {
    outline: 0;
}

.tabs .tab a {
    color: #536dfe;
}

.tabs .tab a.active {
    color: #536dfe;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #536DFE;
}

.tabs .tab a:hover {
    opacity: 0.8;
}

.tabs .indicator {
    background-color: #536dfe;
}

.btn, .btn-large {
    background-color: #536dfe;
}

.btn:hover, .btn-large:hover {
    opacity: 0.8;
    background-color: #536dfe;
}

.btn:focus, .btn-large:focus {
    background-color: #536dfe;
}

.btn-floating {
    background-color: #536dfe;
}

.btn-very-small {
    background-color: darkcyan;
    height: 20px;
    width: 20px;
    line-height: 14px;
}

.btn-very-small:hover, .btn-very-small:focus {
    opacity: 0.8;
    background-color: darkcyan;
}

.btn-very-small:visited {
    background-color: darkcyan;
    opacity: 1;
}

.cuser-count-button {
    background-color: darkcyan;
    height: 30px;
    width: 30px;
    line-height: 20px;
    bottom: 3px;
}

.cuser-count-button:hover, .cuser-count-button:focus {
    opacity: 0.8;
    background-color: darkcyan;
}

.cuser-count-button:visited {
    background-color: darkcyan;
    opacity: 1;
}

.user-blacklist-button {
    background-color: #f5f5f5;
    height: 20px;
    width: 20px;
    line-height: 15px;
}

.user-blacklist-button:hover, .user-blacklist-button:focus {
    opacity: 0.8;
    background-color: #f5f5f5;
}

.user-blacklist-button:visited {
    background-color: #f5f5f5;
    opacity: 1;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #536dfe;
}

.chip {
    color: #fff;
    background-color: #000;
}

.chip img {
    border-radius: 42%;
}

.chip span {
    float: left;
    margin: 0 8px 0 -13px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #536dfe !important;
    box-shadow: 0 1px 0 0 #536dfe !important;
}

input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #536dfe !important;
}

.input-field .prefix.active {
    color: #536dfe !important;
}

[type="radio"]:checked + label:after {
    border: 2px solid #536dfe;
    background-color: #536dfe;
}

[type="radio"].with-gap:checked + label:before {
    border-radius: 50%;
    border: 2px solid #536dfe;
}

[type="radio"].with-gap:checked + label:after {
    border-radius: 50%;
    border: 2px solid #536dfe;
    background-color: #536dfe;
}

[type="checkbox"] + label {
    padding-left: 40px;
}

[type="checkbox"] + label:before {
    left: 0px;
}

[type="checkbox"]:checked + label:before {
    border-right: 2px solid #536dfe;
    border-bottom: 2px solid #536dfe;
}

[type="checkbox"]:indeterminate + label:before {
    border-right: 2px solid #536dfe;
}

[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #536dfe;
    background-color: #536dfe;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #536dfe;
}

input[type=range] + .thumb {
    background-color: #536dfe;
}

.picker__date-display {
    background-color: #FFC107;
}

.picker__weekday-display {
    background-color: #FFC107;
}

.picker__day--infocus {
    color: #999999;
}

.picker__day.picker__day--today {
    color: #1A237E;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: #03A9F4;
    color: #fff;
}

.picker__close, .picker__today {
    color: #03A9F4;
}

.tt-menu {
    margin-top: -25px;
}

.n-tag.tt-input {
    border: none;
}

.materialize-tags .tt-menu {
    max-height: 150px;
    overflow: auto;
}

.materialize-tags .tt-menu .tt-cursor {
    background-color: #536dfe !important;
}

.input-field.col .dropdown-content [type="checkbox"] + label {
    top: -6px;
    left: 0px;
    height: 18px;
}

.picker__nav--prev, .picker__nav--next {
    top: 1px;
    width: 10px;
}

.picker__nav--prev {
    left: 0px;
}

.picker__nav--next {
    right: 0px;
}

.picker__nav--prev:hover, .picker__nav--next:hover {
    background-color: #FBE77F;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    border-radius: 0px;
}

blockquote {
    border-left: 5px solid #e040fb;
}
nav ul a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#open-side-nav {
    padding-left: 14px;
    cursor: pointer;
}

#side-nav-table tr:hover {
    background-color: rgba(0,0,0,0.05);
    border-radius: 0px;
    cursor: pointer;
}

#side-nav-table td:hover {
    border-radius: 0px;
}

#side-nav-table td {
    border-radius: 0px;
    color: #424242;
    padding: 0 5px;
}

#side-nav-table .fa {
    line-height: 100%;
    vertical-align: middle;
}

#side-nav-table .side-nav-links {
    text-decoration: none;
    color: inherit;
    height: 62px;
    display: inline-block;
    line-height: 62px;
    width: 100%;
    vertical-align: middle;
}

.side-nav span.badge {
    margin-top: 19px;
    margin-right: 8px;
    background-color: mediumvioletred;
}

.per-day-increase {
    color: #0f0;
}

.per-day-decrease {
    color: #f00;
}

.side-nav, #sidenav-overlay, .drag-target {
    top: 64px;
}

#profile-page-carousel {
    height: 100%;
}

#solved-unsolved-table td {
    text-align: justify;
}

.verification-badge {
    display: inline;
    padding: .2em .4em .2em;
    font-size: 70%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: 3px;
    border-radius: .25em;
    margin-left: 10px;
}

#solved-unsolved-table .categories {
    width: 214px;
}

#solved-unsolved-table .category-pcount {
    padding-left: 10px;
}

.love-editorial {
    cursor: pointer;
}

.preview-editor-wrapper .CodeMirror {
    border: 0;
}

.CodeMirror .editor-preview {
    background: white;
}

.CodeMirror .editor-preview ul:not(.browser-default) {
    list-style-type: disc;
    padding-left: 25px;
}

.CodeMirror .editor-preview ul:not(.browser-default) > li {
    list-style-type: initial;
}

.CodeMirror .editor-preview img {
    max-height: 400px;
    max-width: 700px;
}

.editor-preview-side ul:not(.browser-default) {
    list-style-type: disc;
    padding-left: 25px;
}

.editor-preview-side ul:not(.browser-default) > li {
    list-style-type: initial;
}

.editor-preview-side img {
    max-height: 400px;
    max-width: 700px;
}

#view-submission-pre {
    width: 100%;
    text-align: left;
    border: 0.5px solid #FEFEFE;
    overflow-x: scroll;
}

.leaderboard-stopstalk-handle, .leaderboard-institute {
    cursor: pointer;
}

#leaderboard-table td:nth-child(1),
#leaderboard-table td:nth-child(2),
#leaderboard-table td:nth-child(6),
#leaderboard-table td:nth-child(7) {
    text-align: center;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.justify-text {
    text-align: justify;
}

#recent_announcements .modal-content {
    padding-bottom: 0px;
}

.profile-page-site-profile-url, #show-info-contributions-leaderboard, #show-tc-editorials-contest {
    cursor: pointer;
}

.profile-page-site-profile-url {
    margin-left: 15px;
    margin-right: 15px;
}

.preview-editor-wrapper {
    cursor: text;
    user-select: text;
}

#march-contest-countdown {
    color: lavender;
    font-weight: bold;
    font-size: x-large;
}

.updates-page-card {
    background-color: darkslateblue;
}

.updates-page-card a {
    color: gold;
}

.difficulty-list-item {
    padding: 30px;
}

#problem-difficulty-modal-form label {
    color: black;
    font-weight: 400;
}

#problem-difficulty-modal .modal-content {
    padding: 24px 10px 5px 10px;
}

.tap-target {
    background-color: #f0ff03e8;
}

.add-to-todo-list.chip {
    height: 20px;
    line-height: 20px;
    color: white;
    font-size: 12px;
    margin-left: 6px;
    background-color: #190c88;
    padding-left: 10px;
    display: none;
    cursor: pointer;
    border-radius: 4px;
}

.problem-search-tags-column {
    text-align: left !important;
    max-width: 450px;
}

.left-align-problem {
    text-align: left !important;
}

.problem-search-name-column {
    text-align: left !important;
    padding-left: 10px;
}

.w2p-form-button {
    margin-left: 10px;
}

.stopstalk-dashboard-card-cta {
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.stopstalk-dashboard-card .card-content {
    font-size: 17px;
}

.parent-site-icon-small {
    height: 30px;
    width: 30px;
}

.parent-site-icon-very-small {
    height: 18px;
    width: 18px;
    margin-bottom: -4px;
}
