.remove-from-todo:hover {
    cursor: pointer;
}

a {
    outline: 0;
}

.tabs .tab a {
    color: #536dfe;
}

.tabs .tab a.active {
    color: #536dfe;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #536DFE;
}

.tabs .tab a:hover {
    opacity: 0.8;
}

.tabs .indicator {
    background-color: #536dfe;
}

.btn, .btn-large {
    background-color: #536dfe;
}

.btn:hover, .btn-large:hover {
    opacity: 0.8;
    background-color: #536dfe;
}

.btn:focus, .btn-large:focus {
    background-color: #536dfe;
}

.btn-floating {
    background-color: #536dfe;
}

.btn-very-small {
    background-color: darkcyan;
    height: 20px;
    width: 20px;
    line-height: 14px;
}

.btn-very-small:hover, .btn-very-small:focus {
    opacity: 0.8;
    background-color: darkcyan;
}

.btn-very-small:visited {
    background-color: darkcyan;
    opacity: 1;
}

.cuser-count-button {
    background-color: darkcyan;
    height: 30px;
    width: 30px;
    line-height: 20px;
    bottom: 3px;
}

.cuser-count-button:hover, .cuser-count-button:focus {
    opacity: 0.8;
    background-color: darkcyan;
}

.cuser-count-button:visited {
    background-color: darkcyan;
    opacity: 1;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #536dfe;
}

.chip {
    color: #fff;
    background-color: #000;
}

.chip img {
    border-radius: 42%;
}

.chip span {
    float: left;
    margin: 0 8px 0 -13px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #536dfe !important;
    box-shadow: 0 1px 0 0 #536dfe !important;
}

input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #536dfe !important;
}

.input-field .prefix.active {
    color: #536dfe !important;
}

[type="radio"]:checked + label:after {
    border: 2px solid #536dfe;
    background-color: #536dfe;
}

[type="radio"].with-gap:checked + label:before {
    border-radius: 50%;
    border: 2px solid #536dfe;
}

[type="radio"].with-gap:checked + label:after {
    border-radius: 50%;
    border: 2px solid #536dfe;
    background-color: #536dfe;
}

[type="checkbox"] + label {
    padding-left: 40px;
}

[type="checkbox"] + label:before {
    left: 0px;
    margin-top: -2px;
}

[type="checkbox"]:checked + label:before {
    border-right: 2px solid #536dfe;
    border-bottom: 2px solid #536dfe;
}

[type="checkbox"]:indeterminate + label:before {
    border-right: 2px solid #536dfe;
}

[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #536dfe;
    background-color: #536dfe;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #536dfe;
}

input[type=range] + .thumb {
    background-color: #536dfe;
}

.picker__date-display {
    background-color: #FFC107;
}

.picker__weekday-display {
    background-color: #FFC107;
}

.picker__day--infocus {
    color: #999999;
}

.picker__day.picker__day--today {
    color: #1A237E;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: #03A9F4;
    color: #fff;
}

.picker__close, .picker__today {
    color: #03A9F4;
}

.tt-menu {
    margin-top: -25px;
}

.n-tag.tt-input {
    border: none;
}

.materialize-tags .tt-menu {
    max-height: 150px;
    overflow: auto;
}

.materialize-tags .tt-menu .tt-cursor {
    background-color: #536dfe !important;
}

.input-field.col .dropdown-content [type="checkbox"] + label {
    top: -6px;
    left: 0px;
    height: 18px;
}

.picker__nav--prev, .picker__nav--next {
    top: 1px;
    width: 10px;
}

.picker__nav--prev {
    left: 0px;
}

.picker__nav--next {
    right: 0px;
}

.picker__nav--prev:hover, .picker__nav--next:hover {
    background-color: #FBE77F;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
    border-radius: 0px;
}

blockquote {
    border-left: 5px solid #e040fb;
}
nav ul a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#open-side-nav {
    padding-left: 14px;
    cursor: pointer;
}

#side-nav-table tr:hover {
    background-color: rgba(0,0,0,0.05);
    border-radius: 0px;
    cursor: pointer;
}

#side-nav-table td:hover {
    border-radius: 0px;
}

#side-nav-table td {
    border-radius: 0px;
    color: #424242;
    padding: 0 5px;
}

#side-nav-table .fa {
    line-height: 100%;
    vertical-align: middle;
}

#side-nav-table .side-nav-links {
    text-decoration: none;
    color: inherit;
    height: 62px;
    display: inline-block;
    line-height: 62px;
    width: 100%;
    vertical-align: middle;
}

.side-nav span.badge {
    margin-top: 19px;
    background-color: mediumvioletred;
}

.per-day-increase {
    color: #0f0;
}

.per-day-decrease {
    color: #f00;
}

.side-nav, #sidenav-overlay, .drag-target {
    top: 64px;
}

#profile-page-carousel {
    height: 100%;
}

#solved-unsolved-table td {
    text-align: justify;
}

.verification-badge {
    display: inline;
    padding: .2em .4em .2em;
    font-size: 70%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: 3px;
    border-radius: .25em;
    margin-left: 10px;
}

#solved-unsolved-table .categories {
    width: 214px;
}

#solved-unsolved-table .category-pcount {
    padding-left: 10px;
}

.love-editorial {
    cursor: pointer;
}

.preview-editor-wrapper .CodeMirror {
    border: 0;
}

.CodeMirror .editor-preview {
    background: white;
}

.CodeMirror .editor-preview ul:not(.browser-default) {
    list-style-type: disc;
    padding-left: 25px;
}

.CodeMirror .editor-preview ul:not(.browser-default) > li {
    list-style-type: initial;
}

.CodeMirror .editor-preview img {
    max-height: 400px;
    max-width: 700px;
}

.editor-preview-side ul:not(.browser-default) {
    list-style-type: disc;
    padding-left: 25px;
}

.editor-preview-side ul:not(.browser-default) > li {
    list-style-type: initial;
}

.editor-preview-side img {
    max-height: 400px;
    max-width: 700px;
}

#view-submission-pre {
    width: 100%;
    text-align: left;
    border: 0.5px solid #FEFEFE;
    overflow-x: scroll;
}
